/*
 * @description: common css variable and function
 * @version: 0.1
 */
/* line 120, module/images/icon/*.png */
.icon-sprite, .icon-app, .icon-cluster, .icon-deploy, .icon-doc, .icon-down, .icon-global, .icon-image, .icon-monitor, .icon-project, .icon-user {
  background-image: url('../../module/images/icon-s596214a342.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-app {
  background-position: 0 0;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cluster {
  background-position: 0 -24px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-deploy {
  background-position: 0 -48px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-doc {
  background-position: 0 -72px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-down {
  background-position: 0 -86px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-global {
  background-position: 0 -91px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-image {
  background-position: 0 -115px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-monitor {
  background-position: 0 -139px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-project {
  background-position: 0 -163px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-user {
  background-position: 0 -187px;
}

/* line 6, module.scss */
.icon-sprite, .icon-app, .icon-cluster, .icon-deploy, .icon-doc, .icon-down, .icon-global, .icon-image, .icon-monitor, .icon-project, .icon-user, .icon-app, .icon-cluster, .icon-deploy, .icon-global, .icon-image, .icon-monitor, .icon-project, .icon-user {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 22px;
}

/* line 13, module.scss */
.icon-doc {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

/* line 19, module.scss */
.icon-down {
  display: inline-block;
  height: 5px;
  width: 10px;
  margin-left: 8px;
  -moz-transition: rotate 0.4s;
  -o-transition: rotate 0.4s;
  -webkit-transition: rotate 0.4s;
  transition: rotate 0.4s;
}
/* line 25, module.scss */
.icon-down.up {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -moz-transition: rotate 0.4s;
  -o-transition: rotate 0.4s;
  -webkit-transition: rotate 0.4s;
  transition: rotate 0.4s;
}

/* line 31, module.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 36, module.scss */
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 43, module.scss */
body {
  background: #6aa9f6 url(/module/images/background.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 560px;
  padding-top: 4%;
  padding-bottom: 2%;
  color: #fff;
}

/* line 52, module.scss */
.module-con {
  position: relative;
  width: 58%;
  margin: 0 auto;
}
/* line 56, module.scss */
.module-con .log-con {
  position: absolute;
  right: 100%;
  top: 7%;
  width: 128px;
  text-align: right;
  margin-right: 8%;
  line-height: 12px;
}
/* line 64, module.scss */
.module-con .log-con img {
  vertical-align: bottom;
}
/* line 67, module.scss */
.module-con .log-con .version {
  font-size: 12px;
}
/* line 71, module.scss */
.module-con .option-con {
  position: absolute;
  left: 100%;
  top: 7%;
  width: 260px;
  margin-left: 8%;
}
/* line 78, module.scss */
.module-con .option-con .user-option .arrow {
  left: 19px;
}
/* line 82, module.scss */
.module-con .option-con .link-doc {
  color: #fff;
}
/* line 85, module.scss */
.module-con .option-con .user-con {
  position: relative;
  margin-top: 30px;
}
/* line 88, module.scss */
.module-con .option-con .user-con .username {
  color: #fff;
}
/* line 91, module.scss */
.module-con .option-con .user-con .user-option {
  left: 0;
}
/* line 96, module.scss */
.module-con .list-module {
  width: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
/* line 100, module.scss */
.module-con .list-module li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 0;
}
/* line 103, module.scss */
.module-con .list-module li:last-child {
  border-bottom: none;
}
/* line 106, module.scss */
.module-con .list-module li .module {
  display: inline-block;
  width: 50%;
  padding: 7% 0 7% 0;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
/* line 114, module.scss */
.module-con .list-module li .module:hover {
  background-color: rgba(255, 255, 255, 0.2);
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
/* line 118, module.scss */
.module-con .list-module li .module:last-child {
  border-right: none;
}
/* line 121, module.scss */
.module-con .list-module li .module h4 {
  display: inline-block;
  margin: 0;
  width: 128px;
  text-align: left;
}

@media (max-width: 1500px) {
  /* line 132, module.scss */
  .module-con {
    width: 51%;
  }
}
@media (max-width: 1300px) {
  /* line 137, module.scss */
  .module-con {
    width: 46%;
  }
}
/* line 141, module.scss */
.modal-body {
  color: #888;
}
/* line 143, module.scss */
.modal-body input {
  width: 340px;
}
