.d-modal-header 查看日志
.modal-body
	p 实例名称：{{instanceInfo.instanceName}}
	div(style="margin-bottom:16px;") 选择容器：
		.select-con(style="display:inline-block;width:490px;")
			button.btn.btn-white.btn-select
				| {{currentContainer?currentContainer.containerId.substring(0, 12):'选择容器'}}
				i.icon-down
			ul.select-list
				li.select-item(ng-repeat="container in instanceInfo.containers")
					a(ng-bind="container.pageTxt" ng-click="toggleContainer($index)")
	.modal-log.text-left(log-info)
		div.log(ng-bind-html="log")