@import "compass/css3";
@import "/index/images/nav/*.png";
@import "common/css/common.scss";
$icon-nav-bg:#36404e;
$icon-nav-bg-on:#313a46; 
$icon-nav-color:#98a6ad;
$icon-nav-color-on:#7fc1fc;
$icon-nav-border-bg-color-on:#7fc1fc;
$icon-nav-li-a-hover:#313a46;

$sub-menu-width: 150px;
$icon-nav-width:80px;
$icon-nav-on-width:156px;
$icon-nav-height:35px;



// @include all-nav-sprites("index/images/nav/*.png");
$navs :sprite-map("/index/images/nav/*.png");
// @mixin get-nav-sprite($name){
// 	height: nav-sprite-height($name);
// 	width: nav-sprite-width($name);
// }


.icon-bar{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index:98;
	width: $icon-nav-width;
	overflow: hidden;
	background-color: $icon-nav-bg;
	// border-right: 1px solid #313a46;
	a:hover{ 
		color:#FFF;
	}
	ul.nav-lists{
		color: $icon-nav-color;
		margin-top:50px; 
		li.dome-logo a{
			display:block;
			height: 70px;
			padding: 0px 0px 0px 23px;
		}
		/*every icon menu*/
		ul.icon-menu{
			li.has-sub{  
				list-style: none;
				position: relative;
				/* border-bottom:1px solid $icon-nav-bg-on; */
				/* a.nav-item */ 
				a.nav-item{
					display: block;
					position: relative;
					height: $icon-nav-height;
					color: $icon-nav-color;
					text-align:center;
					font-size: font-size(default);
					padding-left: 27px;
					margin-top: 10px;
					margin-bottom: 10px;
					z-index: 10; //add by gb
				}


				/*
				.icon-nav{
					display: block;
					margin: 0 auto 12px auto;
					background: sprite-url($navs) no-repeat 0 0;
					@include sprite-dimensions($navs, mod-deploy);
				}*/

				/*
				&:link,&:hover,&:active{
					text-decoration: none;
					display: block;
					position: absolute;
					width: 0%;
					height: 32px;
					color: #fff;

				}
				*/


				span.hover{
					display:block;
					position:absolute;
					width:0%;
					height:32px;
					top:0px;
					left:0px;
					background:#d00355;
					z-index:0;
					opacity:0;
				}

					

				ul.sub-menu{
					position: fixed;
					left: $icon-nav-width - 1px;
					padding: 0px;
					width: $sub-menu-width;
					display: none;
					background-color: #36404e;
					margin-top: 30px;
					/*备用*/

					li{
						a{
							span{
							}
						}
					}


				}

				ul.sub-menu-1{
					top: 92px;

				}

				ul.sub-menu-2{
					
					top: 140px;

				}

				&:hover ul{ /*显示菜单*/
					display:block;

				}


				.nav-mod-project{
					background-position: sprite-position($navs,mod-project);
				}
				.nav-mod-deploy{
					background-position: sprite-position($navs,mod-deploy);
				}
				.nav-mod-mirror{
					background-position: sprite-position($navs,mod-mirror);
				}
				.nav-mod-cluster{
					background-position: sprite-position($navs,mod-cluster);
				}
				.nav-mod-monitor{
					background-position: sprite-position($navs,mod-monitor);
				}
				.nav-mod-user{
					background-position: sprite-position($navs,mod-user);
				}
				.nav-mod-global{
					background-position: sprite-position($navs,mod-global);
				}
				.nav-mod-app{
					background-position: sprite-position($navs,mod-app);
				}
			}
				

				/*
				&.on{
					background-color: $icon-nav-bg-on;
					.nav-mod-project{
						background-position: sprite-position($navs,mod-project-on);
					}
					.nav-mod-deploy{
						background-position: sprite-position($navs,mod-deploy-on);
					}
					.nav-mod-mirror{
						background-position: sprite-position($navs,mod-mirror-on);
					}
					.nav-mod-cluster{
						background-position: sprite-position($navs,mod-cluster-on);
					}
					.nav-mod-monitor{
						background-position: sprite-position($navs,mod-monitor-on);
					}
					.nav-mod-user{
						background-position: sprite-position($navs,mod-user-on);
					}
					.nav-mod-global{
						background-position: sprite-position($navs,mod-global-on);
					}
					.nav-mod-app{
						background-position: sprite-position($navs,mod-app-on);
					}
					.nav-item{
						color: $icon-nav-color-on;
						.nav-border{
							position: absolute;s
							left: 0;
							top: 0;
							height: $icon-nav-on-width;
							width: 4px;
							background-color: $icon-nav-border-bg-color-on;
						}
					}
				}

				*/

				&.dome-logo{
					a{
						display: block;
						height: 70px;
						padding: 25px 0 0 15px;
					}
					.txt-logo{
						font-size: 18px;
					    font-weight: bold;
					    color: #fff;
					    margin-left:15px;
					    letter-spacing: 1px;
					}
					.img-logo{
						margin-top:-10px;
					}
				}
			}
		}
	}

	.nav-sidebar{
	  	li{
	    	a{
	      		color:$icon-nav-color;
	      		.a-itext{
	        		margin-left: 4px;
	        		width: 70px;
	          		/* height: 0px; */
	          		margin-right: 27px;
	          		background: #98aabf;
	          		vertical-align: middle;
	          		display: inline-block;
	      		}
		    }
		    a:hover{
		     	 background-color:$icon-nav-li-a-hover;
		    }
		    a:visited{
		     	 background-color:$icon-nav-li-a-hover;
		    }
		    a:focus{
		     	 background-color:$icon-nav-bg-on;
		    }
		    a:active{
		     	 background-color:$icon-nav-bg-on;
		    }
	    
	  	}
	}



	.arrow-sidebar{
	  	float:right;
	  	margin-right: 12px;
		font-size: 16px !important;
		vertical-align: middle;
	}
	.nav-icon{
		margin-right: 19px;
		font-size: 16px !important;
		vertical-align: middle;
	}
/*}*/