.navbar-default.sidebar.left-nav(role="navigation" ng-scrollbar rebuild-on-resize)
    .sidebar-nav
        ul.nav.in.nav-sidebar.nav-lists#side-menu
            li.dome-logo(ui-sref-active="active")
                a.nav-item(href="javascript:void(0)")
                    img.img-logo(src="index/images/logo.png")
                    span.nav-detail
                        span.txt-logo(style="position:relative;top:1px;") DomeOS
            li.nav-top-item(ng-class="on")
                a.nav-item(href="" ng-click="check(1)" ng-class="{'txt-white':collapseVar===1}")
                    i.fa.fa-th-large.nav-icon
                    span.nav-detail
                        | 开发集成
                        span.arrow-sidebar
                            i.fa(ng-class="{'fa-angle-right':collapseVar!==1,'fa-angle-down':collapseVar===1}")
                ul.nav.nav-second-level.collapse(collapse="collapseVar!==1")
                    li(ng-class="{'on': $stateUrl=='project'}")
                        a.nav-item(ng-click="$stateUrl='project'" ui-sref="projectCollectionManage") 
                            span.a-text 
                            | 项目
                    //- li(ng-class="{'on': $stateUrl=='deploy'}")
                    //-     a.nav-item(ng-click="$stateUrl='deploy'" ui-sref="deployManage") 
                    //-         span.a-text 
                    //-         | 部署
                    li(ng-class="{'on': $stateUrl=='image'}")
                        a.nav-item(ng-click="$stateUrl='image'" ui-sref="imageCollectionManage") 
                            span.a-text 
                            | 镜像
                    //- li(ui-sref-active="on")
                    //-     a.nav-item(ui-sref="projectCollectionManage") 
                    //-         span.a-text 
                    //-         | new项目
                    //-         i.nav-border
            li.nav-top-item(ng-class="on")
                a.nav-item(href="" ng-click="check(2)" ng-class="{'txt-white':collapseVar===2}")
                    i.glyphicon.glyphicon-stats.nav-icon
                    span.nav-detail
                        span(ng-class="{'txt-white':collapseVar===2}") 运维管理
                        span.arrow-sidebar
                            i.fa(ng-class="{'fa-angle-right':collapseVar!==2,'fa-angle-down':collapseVar===2}")
                ul.nav.nav-second-level.collapse(collapse="collapseVar!==2")
                    li(ng-class="{'on': $stateUrl=='deploy'}")
                        a.nav-item(ng-click="$stateUrl='deploy'" ui-sref="deployCollectionManage") 
                            span.a-text 
                            | 服务
                    li(ng-class="{'on':$stateUrl=='cluster'}")
                        a.nav-item(ng-click="$stateUrl='cluster'" ui-sref="clusterManage") 
                            span.a-text 
                            | 集群
                    li(ng-class="{'on':$stateUrl=='appStore'}")
                        a.nav-item(ng-click="$stateUrl='appStore'" ui-sref="appStore") 
                            span.a-text 
                            | 应用商店
            li.nav-top-item(ng-class="on")
                a.nav-item(href="" ng-click="check(3)" ng-class="{'txt-white':collapseVar===3}")
                    i.fa.fa-bell-o.nav-icon
                    span.nav-detail
                        span(ng-class="{'txt-white':collapseVar===3}") 监控报警
                        span.arrow-sidebar
                            i.fa(ng-class="{'fa-angle-right':collapseVar!==3,'fa-angle-down':collapseVar===3}")
                ul.nav.nav-second-level.collapse(collapse="collapseVar!==3")
                    li(ng-class="{'on': $stateUrl=='monitor'}")
                        a.nav-item(ng-click="$stateUrl='monitor'" ui-sref="monitor") 
                            span.a-text 
                            | 监控
                    li(ng-class="{'on': $stateUrl=='alarm'}")
                        a.nav-item(ng-click="$stateUrl='alarm'" ui-sref="alarm.templates") 
                            span.a-text 
                            | 报警
            li.nav-top-item(ng-class="{'on':$stateUrl=='setting'}" ng-hide="loginUser.username!='admin'")
                a.nav-item(ui-sref="globalSetting" ng-click="check(4);$stateUrl='setting'" ng-class="{'txt-white':collapseVar===4}") 
                    i.fa.fa-cog.nav-icon
                    span.nav-detail
                        | 全局配置