doctype html
html(ng-app="domeApp")
	head
		meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
		title DomeOS
		link(rel="stylesheet" href="/log/log.css")
	body
		#log
		script(type="text/javascript" src="/lib/js/jquery.min.js")
		script(type="text/javascript" src="/lib/js/jquery.mousewheel.js")
		script(type="text/javascript" src="/log/log.js")
