
<div class="mod-cluster cluster-manage">
  <div class="mod-option">
    <button ui-sref="createCluster" class="btn btn-lg"><i class="icon-add-white"></i>新建集群</button>
  </div>
  <loading ng-if="isLoading"></loading>
  <ul class="cluster-list">
    <li ng-if="!clusterList||clusterList.length===0" class="no-cluster"><span>暂无集群，可以新建一个 </span></li>
    <li ng-repeat="cluster in clusterList">
      <div class="cluster-item text-center">
        <div class="cluster-header"><a ui-sref="clusterDetail({'id':cluster.id})" class="btn btn-sm btn-white pull-right">管理</a><em ng-bind="cluster.name" class="cluster-name"></em></div>
        <div class="cluster-content"><span ng-if="cluster.nodeNum===0" class="no-host">暂无主机，您可以：</span><span ng-if="cluster.nodeNum!==0" class="cluster-info">主机数<br/><span ng-cloak="ng-cloak" class="cluster-embed txt-bright">{{cluster.nodeNum}}个</span></span><span ng-if="cluster.nodeNum!==0" class="cluster-info">实例数<br/><span ng-cloak="ng-cloak" class="cluster-embed txt-safe">{{cluster.podNum}}个</span></span></div><a ui-sref="addHost({id:cluster.id})" class="btn btn-lg btn-primary addhost">添加主机</a>
      </div>
    </li>
  </ul>
</div>