ul.com-list-info.alarmtpl-info
    li.has-top-border
        span.info-name 报警模板名称
        span.info-content.info-content-lg-height(ng-bind="config.templateName")
    li
        span.info-name 报警类型
        span.info-content.info-content-lg-height {{config.templateType=='deploy'?'容器':'主机'}}
    li(ng-if="config.templateType=='host'")
        span.info-name 报警主机组
        span.info-content.info-content-lg-height(ng-if="config.hostGroupList.length===0") 无
        .info-content(ng-if="config.hostGroupList.length!==0")
            ul
                li.ui-label(ng-repeat="hostgroup in config.hostGroupList")
                    a(ng-bind="hostgroup.hostGroupName")
    li(ng-if="config.templateType=='deploy'")
        span.info-name 报警容器
        .info-content.deploy-option
            input.ui-input.ui-input-white.ui-btn-select.tool-nowrap.select-env.select-cluster(readonly ng-value="config.deploymentInfo.clusterName||'无集群'")
            input.ui-input.ui-input-white.ui-btn-select.tool-nowrap.select-env(readonly ng-value="config.deploymentInfo.hostEnv=='PROD'?'生产':'测试'")
            input.ui-input.ui-input-white.ui-btn-select.tool-nowrap.select-env(readonly ng-value="config.deploymentInfo.deploymentName||'无部署'")
    li
        span.info-name 报警逻辑
        .info-content
            .line-single.alarm-rule(ng-repeat="strategy in config.strategyList")
                ul
                    li
                        span 选择报警指标
                        input.ui-input.ui-input-white.c1(ng-model="alarmTemplateIns.keyMaps.metric[strategy.metric].text" readonly)
                        span.c3(ng-bind="tagName=alarmTemplateIns.keyMaps.metric[strategy.metric].tagName" ng-show="config.templateType!='deploy'")
                        input.ui-input.ui-input-white.c2(ng-value="strategy.tag||'全部'" ng-if="tagName&&config.templateType!='deploy'" readonly)
                    li
                        div.l3(ng-if="strategy.metric=='agent_alive'") 当agent最近
                            input.ui-input.ui-input-white.ui-input-sm.agent-point(ng-model="strategy.pointNum" readonly)
                            | 次检测
                            input.ui-input.ui-input-white.c8(ng-model="alarmTemplateIns.keyMaps.aggregateTypeAgent[strategy.aggregateType]" readonly)
                            span 表现为“未存活”时，发送报警
                        div.l3(ng-if="strategy.metric!='agent_alive'" ng-cloak) 该指标最新的
                            input.ui-input.ui-input-white.ui-input-sm(ng-model="strategy.pointNum" readonly)
                            | 个监控值，
                            input.ui-input.ui-input-white.c6(ng-model="alarmTemplateIns.keyMaps.aggregateType[strategy.aggregateType]" readonly)
                            input.ui-input.ui-input-white.c7(readonly ng-model="strategy.operator")
                            input.ui-input.ui-input-white.ui-input-sm.c10(readonly ng-model="strategy.rightValue")
                            | {{alarmTemplateIns.keyMaps.metric[strategy.metric].unit}}时，发送报警。
                    li
                        | 邮件/短信的报警文字为：
                        input.ui-input.ui-input-white.c5(readonly ng-value="strategy.note||'未设置'")
                        | 最大报警次数
                        input.ui-input.ui-input-white.ui-input-sm(readonly ng-model="strategy.maxStep")
                        | 次
                        a.icon-help(tooltip="当连续报警次数达到最大报警次数时，即使没有恢复，也不会再发送报警")
    li
        span.info-name 报警用户组
        span.info-content.info-content-lg-height(ng-if="!config.userGroupList||config.userGroupList.length===0") 无
        .info-content.info-content-lg-height
            ul
                li.ui-label(ng-repeat="group in config.userGroupList" ng-bind="group.userGroupName")
        //- li
            span.info-name 指定报警回调
            .info-content
                span.line-single.align-name.callback-addr(ng-bind="config.callback.url")
                .align-name
                    span.callback-opt(ng-if="config.callback.beforeCallbackSms") 回调前发提醒短信
                    span.callback-opt(ng-if="config.callback.beforeCallbackMail") 回调前发提醒邮件
                    span.callback-opt(ng-if="config.callback.afterCallbackSms") 回调后发结果短信
                    span.callback-opt(ng-if="config.callback.afterCallbackMail") 回调后发结果邮件