/target
/lib
/logs

.classpath
.project
.settings
.idea
.metadata
*.iml
*.ipr
.vs

*.sw[abcdefghijklmnop]

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

/replay_pid7272.log
/hs_err_pid7272.log
/.classpath
/.project
