
<table class="table-info projectinfo showinfo">
  <tr>
    <td>构建目录</td>
    <td ng-bind="isNoSet(config.dockerfileInfo.buildPath)"></td>
  </tr>
  <tr>
    <td>dockerfile路径</td>
    <td ng-bind="isNoSet(config.dockerfileInfo.dockerfilePath)"></td>
  </tr>
  <tr>
    <td>项目可见性</td>
    <td ng-switch="config.authority"><span ng-switch-when="0">仅对项目成员可见</span><span ng-switch-when="1">对所有人可见</span></td>
  </tr>
  <tr>
    <td>运行过程环境变量</td>
    <td>
      <div class="txt-prompt setting-title">请列出项目需要配置的环境变量，给予默认值并加以描述，用于部署时提示运维人员配置。</div><span ng-if="config.envConfDefault[0].key===''">未设置</span>
      <ul ng-if="config.envConfDefault[0].key!==''" class="settting-list">
        <li ng-repeat="envConfDefault in config.envConfDefault">
          <div class="setting-group"><span ng-bind="envConfDefault.key" class="info-txt info-show env-name"></span><span ng-bind="envConfDefault.value" class="info-txt info-show env-value"></span><span ng-bind="envConfDefault.description" class="info-txt info-show env-description"></span></div>
        </li>
      </ul>
    </td>
  </tr>
</table>