table.table-info.projectinfo.showinfo
	tr
		td 基础镜像
		td(ng-bind="isNoSet(config.dockerfileConfig.baseImageName)")
	tr
		td 安装依赖命令
		td(ng-bind="isNoSet(config.dockerfileConfig.installCmd)")
	tr
		td 代码存放路径 *
		td(ng-bind="isNoSet(config.dockerfileConfig.codeStoragePath)")
	tr
		td 编译命令
		td(ng-bind="isNoSet(config.dockerfileConfig.compileCmd)")
	tr
		td 工作目录
		td(ng-bind="isNoSet(config.dockerfileConfig.workDir)")
	tr
		td 启动命令 *
		td(ng-bind="isNoSet(config.dockerfileConfig.startCmd)")
	tr
		td user in docker
		td(ng-bind="isNoSet(config.dockerfileConfig.user)")
	tr
		td 编译过程环境变量
		td
			.txt-prompt.setting-title build过程的环境变量，会被写入dockerfile，在运行期间也会生效。
			span(ng-if="config.dockerfileConfig.compileEnv[0].envName===''") 未设置
			ul.settting-list(ng-if="config.dockerfileConfig.compileEnv[0].envName!==''")
				li(ng-repeat="compileEnv in config.dockerfileConfig.compileEnv")
					.setting-group
						span.info-txt.info-show.env-name(ng-bind="compileEnv.envName")
						span.info-txt.info-show.env-value(ng-bind="compileEnv.envValue")
.to-moreinfo(ng-class="{'show-more':showMoreInfo}")
	a(ng-click="showMoreInfo=!showMoreInfo") 高级配置
		i.icon-down
table.table-info.projectinfo(ng-if="showMoreInfo")
	//- tr
		td 构建目录
		td
			.right-item.padding-right
				input.info-txt.info-show.input-fill(ng-model="config.dockerfileInfo.buildPath" name="buildDir" placeholder="以“/”开头，系统会在该目录下执行构建命令" ng-pattern="/^\/.+/" ng-change="changeDockerfilePath(config.dockerfileInfo.buildPath);")
			span.inline-error(ng-show="(needValid||proInfoForm.buildDir.$dirty)&&proInfoForm.buildDir.$invalid") 非法的路径
	//- tr(ng-if="userDockerFile")
		td dockerfile路径 *
		td
			.right-item.padding-right
				input.info-txt.info-show.input-fill(ng-model="config.dockerfileInfo.dockerfilePath" name="dockerfilePath" placeholder="/dockerfile" ng-pattern="/^\/.*(dockerfile)$/" required)
			span.inline-error(ng-show="(needValid||proInfoForm.dockerfilePath.$dirty)&&proInfoForm.dockerfilePath.$error.required")
			span.inline-error(ng-show="(needValid||proInfoForm.dockerfilePath.$dirty)&&!proInfoForm.dockerfilePath.$error.required&&proInfoForm.dockerfilePath.$invalid") 非法的路径
	tr
		td 项目可见性
		td(ng-switch="config.authority")
			span(ng-switch-when="0") 仅对项目成员可见
			span(ng-switch-when="1") 对所有人可见
	tr
		td 配置文件模板
		td
			.txt-prompt.setting-title(ng-non-bindable) 配置文件模版中，用"{{.Env.PATH}}"来表示名称为"PATH"的变量。
			span(ng-if="config.confFiles[0].tplDir===''") 未设置
			ul.settting-list(ng-if="config.confFiles[0].tplDir!==''")
				li(ng-repeat="confFile in config.confFiles")
					.setting-group
						span.info-txt.info-show.env-name(ng-bind="confFile.tplDir" )
						span.info-txt.info-show.env-value(ng-bind="confFile.originDir")
	tr
		td 运行过程环境变量
		td
			.txt-prompt.setting-title 请列出项目需要配置的环境变量，给予默认值并加以描述，用于部署时提示运维人员配置。
			span(ng-if="config.envConfDefault[0].key===''") 未设置
			ul.settting-list(ng-if="config.envConfDefault[0].key!==''")
				li(ng-repeat="envConfDefault in config.envConfDefault")
					.setting-group
						span.info-txt.info-show.env-name(ng-bind="envConfDefault.key")
						span.info-txt.info-show.env-value(ng-bind="envConfDefault.value")
						span.info-txt.info-show.env-description(ng-bind="envConfDefault.description" )
	tr
		td 上传本地文件
		td
			p(ng-if="config.uploadFile.length!==0") 点击下载
			ul.settting-list
				li(ng-repeat="file in config.uploadFile")
					a.link(href="/api/project/download/file?md5={{file.md5}}&file={{file.location.split('/').pop()}}" target="_blank" ng-bind="file.location")