
<table class="table-info projectinfo">
  <tr>
    <td>基础镜像</td>
    <td>
      <div class="image-drop select-con">
        <input placeholder="{{config.dockerfileConfig.baseImageName?'当前选择：'+config.dockerfileConfig.baseImageName:'搜索基础镜像'}}" name="baseImageKey" ng-model="baseImageKey" class="input-search input-fill btn-select"/>
        <input type="hidden" ng-model="config.dockerfileConfig.baseImageName" name="baseImage" required="required"/>
        <ul class="select-list">
          <li ng-if="imageListFilter.length ===0"><a>无相关信息</a></li>
          <li ng-repeat="image in imageListFilter =(imageList|filter:{'imageName':baseImageKey})" class="select-item"><a ng-click="project.toggleBaseImage(image.imageName,image.imageTag,image.registry);$parent.baseImageKey=''"><span ng-bind="image.imageName"></span><span ng-bind="image.imageTag"></span><span ng-bind="image.description"></span></a></li>
        </ul><span ng-show="(needValid||proInfoForm.baseImageKey.$dirty)&amp;&amp;proInfoForm.baseImage.$error.required" class="inline-error">必须选择一个镜像</span>
      </div>
    </td>
  </tr>
  <tr>
    <td>安装依赖命令</td>
    <td>
      <textarea name="installCmd" ng-model="config.dockerfileConfig.installCmd" class="info-txt input-fill"></textarea>
    </td>
  </tr>
  <tr>
    <td>代码存放路径 *</td>
    <td>
      <input name="codeStoragePath" ng-model="config.dockerfileConfig.codeStoragePath" ng-pattern="/^/.+/" required="required" placeholder="镜像内存放代码的路径，要求绝对路径，例如：/code" is-enable="is-enable" class="info-txt input-fill"/><span ng-show="(needValid||proInfoForm.codeStoragePath.$dirty)&amp;&amp;proInfoForm.codeStoragePath.$error.required" class="inline-error">必填</span><span ng-show="(needValid||proInfoForm.codeStoragePath.$dirty)&amp;&amp;!proInfoForm.codeStoragePath.$error.required&amp;&amp;proInfoForm.codeStoragePath.$invalid" class="inline-error">非法的路径</span>
    </td>
  </tr>
  <tr>
    <td>编译命令</td>
    <td>
      <textarea name="compileCmd" ng-model="config.dockerfileConfig.compileCmd" class="info-txt input-fill"></textarea>
    </td>
  </tr>
  <tr>
    <td>工作目录</td>
    <td>
      <input name="workDir" ng-model="config.dockerfileConfig.workDir" ng-pattern="/^//" placeholder="要求绝对路径，默认为根目录" class="info-txt input-fill"/><span ng-show="(needValid||proInfoForm.workDir.$dirty)&amp;&amp;!proInfoForm.workDir.$error.required&amp;&amp;proInfoForm.workDir.$invalid" class="inline-error">非法的路径</span>
    </td>
  </tr>
  <tr>
    <td>启动命令 *</td>
    <td>
      <textarea name="startCmd" ng-model="config.dockerfileConfig.startCmd" required="required" class="info-txt input-fill"></textarea><span ng-show="(needValid||proInfoForm.startCmd.$dirty)&amp;&amp;proInfoForm.startCmd.$error.required" class="inline-error">必填</span>
    </td>
  </tr>
  <tr>
    <td>user in docker</td>
    <td> 
      <input ng-model="config.dockerfileConfig.user" class="info-txt input-fill"/>
    </td>
  </tr>
  <tr>
    <td>编译过程环境变量</td>
    <td>
      <div class="txt-prompt setting-title">build过程的环境变量，会被写入Dockerfile，在运行期间也会生效。</div>
      <ul class="settting-list">
        <li ng-repeat="compileEnv in config.dockerfileConfig.compileEnv">
          <div class="setting-group">
            <input placeholder="环境变量名" is-required="is-required" param1="{{compileEnv.envValue}}" ng-model="compileEnv.envName" ng-focus="$last&amp;&amp;project.addCompileEnv()" class="info-txt input-fill env-name"/>
            <input placeholder="环境变量值" param1="{{compileEnv.envName}}" ng-model="compileEnv.envValue" class="info-txt input-fill env-value"/>
          </div><span class="delete-con"><a ng-if="config.dockerfileConfig.compileEnv.length&gt;1" ng-click="project.deleteCompileEnv($index)" class="icon-delete"></a></span>
        </li>
      </ul>
    </td>
  </tr>
</table>
<div ng-class="{'show-more':showMoreInfo}" class="to-moreinfo"><a ng-click="showMoreInfo=!showMoreInfo">高级配置<i class="icon-down"></i></a></div>
<table ng-if="showMoreInfo" class="table-info projectinfo">
  <tr>
    <td>项目可见性</td>
    <td><span class="txt-visible">
        <input id="toPublic" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="config.authority" class="dome-check"/>
        <label for="toPublic">对所有人可见</label></span></td>
  </tr>
  <tr>
    <td>配置文件模板</td>
    <td>
      <div ng-non-bindable="ng-non-bindable" class="txt-prompt setting-title">配置文件模版中，用"{{.Env.PATH}}"来表示名称为"PATH"的变量。</div>
      <ul class="settting-list">
        <li ng-repeat="confFile in config.confFiles">
          <div class="setting-group">
            <input placeholder="模板路径" is-required="is-required" param1="{{confFile.originDir}}" ng-model="confFile.tplDir" ng-focus="$last&amp;&amp;project.addConfFiles()" ng-pattern="/^//" class="info-txt input-fill env-name"/>
            <input placeholder="目标路径" is-required="is-required" param1="{{confFile.tplDir}}" ng-pattern="/^//" ng-model="confFile.originDir" class="info-txt input-fill env-value"/>
          </div><span class="delete-con"><a ng-if="config.confFiles.length&gt;1" ng-click="project.deleteArrItem('confFiles',$index)" class="icon-delete"></a></span>
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>运行过程环境变量</td>
    <td>
      <div class="txt-prompt setting-title">请列出项目需要配置的环境变量，给予默认值并加以描述，用于部署时提示运维人员配置。</div>
      <ul class="settting-list">
        <li ng-repeat="envConfDefault in config.envConfDefault">
          <div class="setting-group">
            <input placeholder="环境变量名" ng-model="envConfDefault.key" ng-focus="$last&amp;&amp;project.addEnvConfDefault()" is-required="is-required" param1="{{envConfDefault.value}}" class="info-txt input-fill env-name"/>
            <input placeholder="环境变量值" ng-model="envConfDefault.value" is-required="is-required" param1="{{envConfDefault.key}}" class="info-txt input-fill env-value"/>
            <input placeholder="环境变量描述" ng-model="envConfDefault.description" class="info-txt input-fill env-description"/>
          </div><span class="delete-con"><a ng-if="config.envConfDefault.length&gt;1" ng-click="project.deleteArrItem('envConfDefault',$index)" class="icon-delete"></a></span>
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>上传本地文件</td>
    <td>
      <div class="fileupload-con">
        <button class="btn btn-safe">上传本地文件</button>
        <input type="file" nv-file-select="nv-file-select" uploader="uploader" multiple="multiple" class="upfile"/>
      </div>
      <ul class="settting-list list-input list-file">
        <li ng-repeat="file in config.uploadFile"><a href="/api/project/download/file?md5={{file.md5}}&amp;file={{file.location.split('/').pop()}}" target="_blank" ng-bind="file.location" class="link"></a><span class="delete-con"><a ng-click="project.deleteArrItem('uploadFile',$index)" class="icon-delete"></a></span></li>
      </ul>
      <ul class="settting-list list-input list-file">
        <li ng-repeat="item in uploader.queue">
          <div class="setting-group"><span ng-bind="item.file.name" class="filename"></span>
            <input placeholder="请输入文件存放路径，以“/”开头" name="fileDir" ng-model="item.file.location" required="required" ng-pattern="/^//" class="info-txt input-fill"/>
          </div><span class="delete-con"><a ng-click="item.remove()" class="icon-delete"></a></span>
        </li>
      </ul>
    </td>
  </tr>
</table>