
<table class="table-info projectinfo showinfo">
  <tr>
    <td>基础镜像</td>
    <td ng-bind="isNoSet(config.dockerfileConfig.baseImageName)"></td>
  </tr>
  <tr>
    <td>安装依赖命令</td>
    <td ng-bind="isNoSet(config.dockerfileConfig.installCmd)"></td>
  </tr>
  <tr>
    <td>代码存放路径 *</td>
    <td ng-bind="isNoSet(config.dockerfileConfig.codeStoragePath)"></td>
  </tr>
  <tr>
    <td>编译命令</td>
    <td ng-bind="isNoSet(config.dockerfileConfig.compileCmd)"></td>
  </tr>
  <tr>
    <td>工作目录</td>
    <td ng-bind="isNoSet(config.dockerfileConfig.workDir)"></td>
  </tr>
  <tr>
    <td>启动命令 *</td>
    <td ng-bind="isNoSet(config.dockerfileConfig.startCmd)"></td>
  </tr>
  <tr>
    <td>user in docker</td>
    <td ng-bind="isNoSet(config.dockerfileConfig.user)"></td>
  </tr>
  <tr>
    <td>编译过程环境变量</td>
    <td>
      <div class="txt-prompt setting-title">build过程的环境变量，会被写入dockerfile，在运行期间也会生效。</div><span ng-if="config.dockerfileConfig.compileEnv[0].envName===''">未设置</span>
      <ul ng-if="config.dockerfileConfig.compileEnv[0].envName!==''" class="settting-list">
        <li ng-repeat="compileEnv in config.dockerfileConfig.compileEnv">
          <div class="setting-group"><span ng-bind="compileEnv.envName" class="info-txt info-show env-name"></span><span ng-bind="compileEnv.envValue" class="info-txt info-show env-value"></span></div>
        </li>
      </ul>
    </td>
  </tr>
</table>
<div ng-class="{'show-more':showMoreInfo}" class="to-moreinfo"><a ng-click="showMoreInfo=!showMoreInfo">高级配置<i class="icon-down"></i></a></div>
<table ng-if="showMoreInfo" class="table-info projectinfo">
  <tr>
    <td>项目可见性</td>
    <td ng-switch="config.authority"><span ng-switch-when="0">仅对项目成员可见</span><span ng-switch-when="1">对所有人可见</span></td>
  </tr>
  <tr>
    <td>配置文件模板</td>
    <td>
      <div ng-non-bindable="ng-non-bindable" class="txt-prompt setting-title">配置文件模版中，用"{{.Env.PATH}}"来表示名称为"PATH"的变量。</div><span ng-if="config.confFiles[0].tplDir===''">未设置</span>
      <ul ng-if="config.confFiles[0].tplDir!==''" class="settting-list">
        <li ng-repeat="confFile in config.confFiles">
          <div class="setting-group"><span ng-bind="confFile.tplDir" class="info-txt info-show env-name"></span><span ng-bind="confFile.originDir" class="info-txt info-show env-value"></span></div>
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>运行过程环境变量</td>
    <td>
      <div class="txt-prompt setting-title">请列出项目需要配置的环境变量，给予默认值并加以描述，用于部署时提示运维人员配置。</div><span ng-if="config.envConfDefault[0].key===''">未设置</span>
      <ul ng-if="config.envConfDefault[0].key!==''" class="settting-list">
        <li ng-repeat="envConfDefault in config.envConfDefault">
          <div class="setting-group"><span ng-bind="envConfDefault.key" class="info-txt info-show env-name"></span><span ng-bind="envConfDefault.value" class="info-txt info-show env-value"></span><span ng-bind="envConfDefault.description" class="info-txt info-show env-description"></span></div>
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>上传本地文件</td>
    <td>
      <p ng-if="config.uploadFile.length!==0">点击下载</p>
      <ul class="settting-list">
        <li ng-repeat="file in config.uploadFile"><a href="/api/project/download/file?md5={{file.md5}}&amp;file={{file.location.split('/').pop()}}" target="_blank" ng-bind="file.location" class="link"></a></li>
      </ul>
    </td>
  </tr>
</table>