@import "compass/css3";
@import "common/css/common.scss";
.mod-project{
	.table-info{
		border:$light-border;
		td,th{
			vertical-align: top;
			padding: 8px 6px 8px 14px;
			border-right: $light-border;
			border-bottom:$light-border;
			&:last-child{
				border-right: none;
			}
		}
		td:first-child{
			padding-top: 15px;
			font-weight: bold;
		}
		tr:last-child{
			td{
				border-bottom:none;
			}
		}
	}
	.list-input{
		margin-top: 10px;
	}
	.projectinfo{
		width: 100%;
		.image-drop{
			position: relative;
			width:50%;
			.select-list li a span{
				display: block;
				float: left;
				width: 20%;
				overflow: hidden;
				@extend %nowrap;
				&:first-child{
					width: 30%;
				}
				&:last-child{
					width: 50%;
				}
			}
		}
		td:first-child{
			width: 210px;
			padding-left: 26px;
		}
		.info-txt,.setting-group,.image-drop{
			width:50%;
		}
		.info-show{
			padding: 8px 12px 8px 12px;
			min-height: 34px;
			border: $deep-border;
			border-radius: $default-radius;
		}
		.setting-title{
			line-height: 34px;
		}
		.settting-list{
			li{
				overflow: hidden;
				margin-top: 12px;
			}
		}
		.filename{
			display: inline-block;
			@extend %nowrap;
			width: 142px;
		}
		.setting-group{
			display: -webkit-flex; 
			display: flex;
			float: left;
			.info-txt{
				flex:1;
				margin-right: 10px;
				&:last-child{
					margin-right: 0;
				}
				&.env-name{
					flex:1;
				}
				&.env-value{
					flex:2;
				}
				&.env-description{
					flex:2;	
				}
			}
		}
		.txt-visible{
			display: inline-block;
			padding-top: 9px;
		}
		.delete-con{
			display: inline-block;
			padding:6px 0 0 27px;
		}
		.file-list li{
			display: block;
			overflow: hidden;
		}
		.fileupload-con{
			position: relative;
			.upfile{
				position: absolute;
				width: 109px;
				height: 33px;
				top: 0;
				left: 0;
				@include opacity(0);
			}
		}
	}
	.showinfo{
		td:last-child{
			padding: 12px 12px 12px 30px;
		}
	}
	.to-moreinfo{
		margin: 26px 0-$page-padding 26px  0;
		padding-left:$page-padding+15px;
		a{
			color:dome-color(dome,primary);
			.icon-down{
				margin-left: 12px;
				@include rotate(-90deg);
				@include transition(.3s);
			}
		}
		&.show-more{
			a{
				font-weight: bold;
				.icon-down{
					@include rotate(0);
					@include transition(.3s);
				}
			}
		}
	}
}