@import "compass/css3";
@import "common/css/common.scss";

$context-color:#444;
$context-info-color:#888;
.cluster-manage{
	.cluster-list{
		padding: 0px 20px 0px 20px;
		li{
			float: left;
			width: 100%;
			// max-width: 550px;
			border-top: $deep-border;
			border-bottom: 1px solid transparent;
			&:hover{
				background-color: dome-color(background,table-hover-background);
	        	.ui-li-link{
	            	color:#ff9800	;
	        	}
			}
			&:last-child{
				border-bottom: $deep-border;
				margin-bottom: 20px; 
			}
			.cluster-item{
				// border: $deep-border;
				// border-radius: $default-radius;
				.cluster-header{
					padding: 20px 8px 12px 8px;
					text-align: left;
					// border-bottom: $light-border;
					// overflow: hidden;
					.cluster-name {
						display: inline-block;
						width: 15%;
						color: dome-color(dome,bright);
						font-size: 16px;
						font-weight: bold;
					}
					.ui-btn-white{
						color: dome-color(dome,bright);
					}
				}
				.build-cluster-title{
					display: inline-block;
					width: 15%;
					color: dome-color(font,default);
					em{
						color: dome-color(dome,safe);
					}
				}
				.content-last{
					padding-bottom: 20px !important;
				}
				.cluster-content{
					font-size: 14px;
					text-align: left;
					padding: 8px 8px 0px 8px;
					.cluster-info{
						display: inline-block;
						color:$context-info-color;
						.cluster-embed{
							font-size: 12px;
							color:$context-color;
						}
					}
					.col{
						width: 15%;
					}
					.create-time-size{
						width: 22%;
					}
					.no-host{
						display: block;
						margin-top: 9px;
						padding-left: 10%;
						text-align: left;
					}
				}
				.addhost{
					margin-bottom: 20px;
					padding-top: 12px;
				}
			}
			&:nth-child(3n+1){
				padding-left: 0;
			}
			&.no-cluster{
				height: 208px;
				text-align: center;
				border:1px dashed dome-color(border,deep);
				border-radius: $default-radius;
				span{
					display: inline-block;
					margin-top: 90px;
				}
			}
		}
	}
	.btn-menu{
		li:last-child{
			margin-bottom: 0;
			border-bottom: 0;
		}
		li{
			border: 0;
			a{
				color: #888;
			}
			a:hover{
				color: dome-color(dome,bright);
			}
		}
		.btn-icon{
			padding: 8px 8px 0 8px !important;
		}
	}
	.btn-group.open{
		.dropdown-toggle{
			box-shadow: inset 0 3px 5px transparent
		}
	} 
}