@import "compass/css3";
@import "common/css/common.scss";

.project-manage{
	.project-options{
		padding:16px $page-padding 0 $page-padding;
		height: 82px;
		.ui-btn-lg{
			height: 43px;
			width: 158px;
			color: #fff;
			font-size:14px;
			font-weight: bold;
			background-color:#2994e7;
			.icon-add-white{
				margin-right: 4px;
			}
		}
		.ui-input-search{
			margin-left: 34px;
		}
	}
}