/* line 2, ng-cloak.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .translate-cloak, .x-ng-cloak, .ng-hide {
  display: none !important;
}

/* line 2, ng-cloak.scss */
ng\:form {
  display: block;
}

/* line 2, ng-cloak.scss */
.ng-animate-start {
  clip: rect(0, auto, auto, 0);
  -ms-zoom: 1.0001;
}

/* line 2, ng-cloak.scss */
.ng-animate-active {
  clip: rect(-1px, auto, auto, 0);
  -ms-zoom: 1;
}
