@import "compass/css3";
@import "common/css/common.scss";

// dome card list css start
.dome-option-container {
  margin: 20px;
  .option-right {
    float: right;
    .ui-input-search {
      margin-left: 34px;
    }
  }
}

.dome-prompt-container {
  margin: 20px 20px 0 20px;
}

.dome-list-container {
  margin: 0 20px 20px 20px;
  li:hover {
    background-color: #f9f9f9;
  }
}

.dome-list-item-no {
  height: 200px;
  text-align: center;
  line-height: 200px;
  border: 1px dashed #999;
  border-radius: 3px;
}

.dome-list-item {
  border-top: $deep-border;
  &:last-child {
    border-bottom: $deep-border;
  }
}

.dome-list-item-header {
  margin: 20px 8px;
  .item-header-name {
    font-size: 16px;
    font-weight: bold;
    color: #188ae2;
    display: inline-block;
  }
  .item-header-option {
    float: right;
    display: inline-block;
  }
}

.dome-list-item-content {
  margin: 8px;
  .item-content-block {
    width: 20%;
    display: inline-block;
  }
}

.dome-list-item-footer {
  margin: 8px 8px 0 8px;
  padding-bottom: 20px;
  .item-footer-block {
    width: 20%;
    display: inline-block;
  }
}

// dome card list css end

// dome fa icon start
.dome-fa-icon {
  padding: 5px;
}

// dome fa icon end

// start of dome btn
.dome-btn-none {
  height: auto;
  border: none;
  background: none;
}

// end of dome btn

//start of dome detail page
.dome-mod-content-container {
  background-color: #f0f2f5;
}

.dome-container-header, .dome-container-body {
  background-color: #fff;
  border-radius: 3px;
}

.dome-container-header {
  margin-bottom: 20px;

}

//
.dome-header-detail {
  padding: 20px;
  overflow: hidden;
  .detail-item {
    float: left;
    .item-name {
      display: block;
    }
    .item-content {
      display: inline-block;
      margin-top: 4px;
      color: #444;
    }
  }
  .detail-sep {
    float: left;
    display: block;
    height: 30px;
    width: 2px;
    margin: 13px 22px 0 22px;
    background-color: #eee;
  }
}

.dome-mod-tab {
  overflow: hidden;
}

// common

.dome-inline-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dome-tool-align {
  margin-left: 10px;
}

.dome-select-btn {
  cursor: pointer;
  width: 100%;
  padding-left: 12px;
  line-height: 34px;
}

.dome-line-long:not(:first-child) {
  padding-top: 12px;
}

.dome-enable-click {
  cursor: pointer;
}

.dome-right-prompt {
  position: absolute;
  left: 100%;
  min-width: 200px;
  line-height: 34px;
  margin-left: 20px;
}

.dome-dot {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 14px;
  right: 2px;
  border-radius: 50%;
  z-index: 3;
  &:before {
    content: ' ';
    position: absolute;
    width: 6px;
    height: 6px;
    top: 4px;
    left: 4px;
    border-radius: 50%;
  }
}

.dome-dot-default {
  background-color: rgba(255, 171, 0, 0.2);
  &:before {
    background-color: rgba(255, 171, 0, 0.4);
  }
}

.dome-dot-success {
  background-color: #d5ecc9;
  &:before {
    background-color: #77bf4f;
  }
}

.dome-dot-error {
  background-color: #facfcf;
  &:before {
    background-color: #f85959;
  }
}

.dome-dot-next {
  margin: 0 20px 0 5px;
}

.help-tip{
  position: relative;
  text-align: center;
  background-color: #5dabf3;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  font-size: 14px;
}
.help-tip:before{
  content:'?';
  font-weight: bold;
  color:#fff;
}
.dome-heighten-text {
  font-weight: bold;
}
.long-text-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.a-disable {
  cursor: not-allowed;
  color: inherit;
}
