.d-modal-header
	| 其他镜像
.modal-body.text-center.modal-otherimage
	ul.modal-info(ng-form role="form" name="otherImageFrom" ng-class="{'need-valid':needValid}")
		li
			span.info-name 镜像仓库地址
			input.ui-input-white.info-txt(name="imageRegistry" ng-model="imageInfo.registry" required ng-pattern="/^[^\\s]*$/" )
		li
			span.info-name 镜像名称
			input.ui-input-white.info-txt(name="imageName" ng-model="imageInfo.name" required ng-pattern="/^[^\\s]*$/" )
		li
			span.info-name 镜像版本号
			input.ui-input-white.info-txt(name="imageTag" ng-model="imageInfo.tag" required ng-pattern="/^[^\\s]*$/" )
		
.modal-footer
	button.ui-btn.ui-btn-sm.ui-btn-white(ng-click="cancel()") 取消
	button.ui-btn.ui-btn-bright.ui-btn-sm(ng-click="needValid=true;otherImageFrom.$valid&&submitImage()") 添加