@import "compass/css3";
@import "common/css/common.scss";
.create-group{
	padding-top: 20px;
	.info-list{
		&>li{
			display: table;
			.info-name{
				display: table-cell;
				width: 10%;
				padding: 16px 12px 10px $page-padding+$wider-padding;
				font-weight: bold;
				vertical-align: top;
			}
			.info-content{
				display: table-cell;
				width: 70%;
				padding: 10px 0 16px 0; 
				vertical-align: top;
				.line-long{
					position: relative;
					@include display-flex;
					&+.line-long{
						margin-top: 12px;
					}
				}
				.line-element{
					@include flex(1);
				}
				.btn-add{
					position: absolute;
					left: 100%;
					top: 0;
					margin-left: 12px;
				}
				textarea{
					height: 54px;
					overflow-y:auto;
					resize:none;
				}
			}
		}
		&.group-info{
			.info-content{
				padding-right: 24px;
				table{
					width: 100%;
				}
				.line-member{
					margin-right: -72px;
				}
			}
		}
	}
}