.d-modal-header 查看日志
.modal-body.modal-instance
	p 实例名称：{{instanceInfo.instanceName}}
	ul.com-list-table
		li.head 选择容器
		li(ng-if="!instanceInfo.containers||instanceInfo.containers.length===0") 无容器信息
		li(ng-repeat="container in instanceInfo.containers")
			a.ui-table-link(href="{{container.href}}" target="_blank" ng-bind="container.pageTxt" ng-click="toggleContainer($index)")
.modal-footer
	button.ui-btn.ui-btn-sm.ui-btn-white(ng-click="cancel()") 取消