@import "compass/css3";
@import "common/css/common.scss";

$context-color:#444;
$context-info-color:#888;
.project-collection-manage{
	.project-collection-list{
		padding: 0 20px;
		li{
			float: left;
			width: 100%;
			border-top: $deep-border;
			border-bottom: 1px solid transparent;
			&:hover{
				background-color: dome-color(background,table-hover-background);
			}
			&:last-child{
				border-bottom: $deep-border;
				margin-bottom: 20px; 
			}
			.project-collection-item{
				
				// border-radius: $default-radius;
				.project-collection-header{
					padding: 20px 8px 12px 8px;
					text-align: left;
					// border-bottom: $light-border;
					overflow: visible;
					.project-collection-name {
						display: inline-block;
						color: dome-color(dome,bright);
						font-size: 16px;
						font-weight: bold;
					}
					.ui-btn-white{
						color: dome-color(dome,bright);
					}
					.dropdown-menu-delete{
						padding:0;
					}
				}
				.build-project-collection-title{
					display: inline-block;
					padding-left: 10px;
					// padding-right: 40px;
					// color: dome-color(font,default);
					em{
						margin-right: 10px;
						font-size: 14px;
					}
					.fa{
						padding: 5px !important;
					}
					.pull-right-o{
						margin-left: 85px;
					}
				}
				.content-last{
					padding-bottom: 20px !important;
				}
				.project-collection-content{
					// padding: 20px 0 26px 0;
					// height: 90px;
					// color:$context-color;
					font-size: 14px;
					text-align: left;
					padding: 8px 8px 0px 8px;
					.project-collection-info{
						display: inline-block;
						color:$context-info-color;
					}
					.project-collection-info-description{
						display: inline-block;
						font-size: 14px;
						padding-left: 20px;
						textarea{
							&.ui-input-fill{
								min-height: 34px;
								vertical-align: top;
							}
						}
						.textarea-edit {
						    height: 34px;
						    resize: vertical;
						    min-width: 500px;
						}
					}
					.txt-error{
						display: inline-block;
					}
					.embed{
						font-size: 14px;
						color:$context-color;
					}
					.col{
						width: 15%;
					}
					.create-time-size{
						width: 22%;
					}
					.no-host{
						display: block;
						margin-top: 9px;
						padding-left: 10%;
						font-size: 14px;
						text-align: left;
					}
				}
				.addhost{
					margin-bottom: 20px;
					padding-top: 12px;
				}
			}
			&:nth-child(3n+1){
				// padding-left: 0;
			}
			&.no-project-collection{
				height: 208px;
				text-align: center;
				border:1px dashed dome-color(border,deep);
				border-radius: $default-radius;
				// margin: 0 10px 0 10px;
				span{
					display: inline-block;
					margin-top: 90px;
				}
			}
		}
	}
}