ul.com-list-info
	.mod-tips-info
		p.txt-prompt
			i.fa.fa-info-circle.icon-algin-right
			| DomeOS支持通过flume镜像进行日志收集。
	li.has-border
		span.info-name 集群名称
		.info-content.info-content-lg-height(ng-bind="config.name")
	//- li.has-border
	//- 	span.info-name 创建者
	//- 	.info-content(ng-bind="config.ownerName")
	li.has-border
		span.info-name 集群https访问
		.info-content.info-content-lg-height(ng-bind="config.isHttps?'On':'Off'")
	li(ng-if="config.isHttps")
		span.info-name 用户名
		.info-content.info-content-lg-height(ng-bind="config.username||'未设置'")
	li.has-border(ng-if="config.isHttps")
		span.info-name 密码
		.info-content.info-content-lg-height(ng-bind="config.password||'未设置'")
	li.has-border
		span.info-name api server
		.info-content.info-content-lg-height(ng-bind="config.isHttps?'https://'+config.api:config.api")
	li.has-border
		span.info-name dns服务器
		.info-content.info-content-lg-height(ng-bind="(config.dns || '未设置')")
	li.has-border
		span.info-name etcd
		.info-content
			div.line-single(ng-hide="$last" ng-repeat="etcd in config.etcd")
				span.ui-input-white.ui-input-txt.single-element(ng-bind="etcd.name")
	li.has-border
		span.info-name domain
		.info-content.info-content-lg-height
			span(ng-bind="(config.domain || '未设置')")
	li
		span.info-name 日志自动收集
		.info-content.info-content-lg-height(ng-switch="config.logConfig")
			span(ng-switch-when="1") On
			span(ng-switch-default) Off
	li(ng-if="config.logConfig===1")
		span.info-name kafka
		.info-content
			div.line-single(ng-hide="$last" ng-repeat="kafka in config.clusterLog.kafka")
				span.ui-input-white.ui-input-txt.single-element(ng-bind="kafka.name")
			span(ng-if="config.clusterLog.kafka.length<=1") 未设置
	li(ng-if="config.logConfig===1")
		span.info-name zookeeper
		.info-content
			div.line-single(ng-hide="$last" ng-repeat="zookeeper in config.clusterLog.zookeeper")
				span.ui-input-white.ui-input-txt.single-element(ng-bind="zookeeper.name")
			span(ng-if="config.clusterLog.zookeeper.length<=1") 未设置
	li(ng-if="config.logConfig===1")
		span.info-name 日志容器
		.info-content.info-content-lg-height
			.line-singgle
				span 镜像名 :
				span.cluster-log(ng-bind="config.clusterLog.imageName")
			.line-singgle
				span 镜像版本 :
				span.cluster-log(ng-bind="(config.clusterLog.imageTag || '未设置')")