
<div ng-form="ng-form" role="form" name="deployForm" ng-class="{'need-valid':needValid}" novalidate="novalidate" class="mod-deploy create-project2">
  <loading ng-if="loadingsIns.isLoading"></loading>
  <ul class="list-info">
    <li class="has-border"><span class="info-name">实例个数</span>
      <div class="info-content container-info">
        <div class="line-short">
          <input ng-model="config.replicas" name="replicas" ng-pattern="/^[1-9]\d*$/" is-over="is-over" max="999" min="1" class="input-fill input-sm container-txt"/><span class="container-unit">个</span>
        </div><span ng-if="(needValid||deployForm.replicas.$dirty)&amp;&amp;deployForm.replicas.$invalid" class="txt-error">请填写0~999范围内的数字</span>
      </div>
    </li>
    <li class="has-border"><span class="info-name">筛选主机</span>
      <div class="info-content">
        <div class="line-short">
          <div class="select-con line-element">
            <button class="btn btn-white btn-select">{{deployIns.clusterListIns.cluster.name||'选择集群'}}
              <icon class="icon-down"></icon>
            </button>
            <ul class="select-list">
              <li ng-if="deployIns.clusterList.length===0"><a>无相关信息</a></li>
              <li ng-repeat="cluster in deployIns.clusterListIns.clusterList" class="select-item"><a ng-click="deployIns.toggleCluster($index)" ng-bind="cluster.name"></a></li>
            </ul>
            <input type="hidden" ng-model="deployIns.clusterListIns.cluster.name" name="clusterName" required="required"/><span ng-if="(needValid||validHost)&amp;&amp;deployForm.clusterName.$invalid" class="txt-error">请选择集群</span>
          </div>
          <div class="select-con line-element">
            <button ng-cloak="ng-cloak" class="btn btn-white btn-select line-element">{{deployIns.envText}}
              <icon class="icon-down"></icon>
            </button>
            <ul class="select-list">
              <li ng-repeat="env in deployIns.envList" class="select-item"><a ng-bind="env.text" ng-click="deployIns.toggleEnv(env)"></a></li>
            </ul>
            <input type="hidden" ng-model="config.hostEnv" name="hostEnv" required="required"/><span ng-if="(needValid||validHost)&amp;&amp;deployForm.hostEnv.$invalid" class="txt-error">请选择部署环境</span>
          </div>
        </div>
        <div class="line-long top-margin">
          <div label="true" class="input-white host-txt-con select-con">
            <ul class="selected-labels">
              <li ng-repeat="(label,value) in deployIns.nodeListIns.labelsInfo|search:'isSelected':true|search:'isShow':true" ng-cloak="ng-cloak" class="select-label">{{label}}<a ng-click="deployIns.nodeListIns.toggleLabel(label,false)" class="icon-cancel"></a></li>
              <li class="select-input">
                <input placeholder="选择主机标签" ng-model="labelKey.key" ng-keydown="labelKeyDown($event,labelKey.key,labelsInfoFiltered);" ng-focus="selectFocus()" class="line-element btn-select"/>
              </li>
            </ul>
            <ul class="select-list">
              <li ng-if="objLength(labelsInfoFiltered)===0"><a>无相关信息</a></li>
              <li ng-repeat="(label,value) in labelsInfoFiltered=(deployIns.nodeListIns.labelsInfo| searchKey:labelKey.key|search:'isShow':true)" class="select-item"><a ng-bind="label" ng-click="deployIns.nodeListIns.toggleLabel(label,true);labelKey.key='';"></a></li>
            </ul>
          </div><span class="txt-wrap"><a ng-click="deployIns.nodeListIns.showHost()" class="link-safe">查看选中主机</a></span>
        </div>
      </div>
    </li>
    <li><span class="info-name">namespace</span>
      <div class="info-content">
        <div ng-if="!deployIns.isNewNamespace" class="line-short">
          <div class="select-con line-element">
            <button class="btn btn-white btn-select">{{config.namespace||'选择已有namespace'}}
              <icon class="icon-down"></icon>
            </button>
            <ul class="select-list">
              <li ng-if="deployIns.namespaceList.length===0"><a>无相关信息</a></li>
              <li ng-repeat="namespace in deployIns.namespaceList" class="select-item"><a ng-bind="namespace.name" ng-click="deployIns.toggleNamespace(namespace.name)"></a></li>
            </ul>
          </div><span class="txt-wrap"><a ng-click="deployIns.toggleIsNewNamespace()" class="link-safe">新建namespace</a></span>
          <input type="hidden" name="selectNamespace" ng-model="config.namespace" required="required"/>
        </div>
        <div ng-if="deployIns.isNewNamespace" class="line-short">
          <input placeholder="新建namespace" ng-model="config.namespace" name="namespace" ng-model-options="{updateOn:'default blur',debounce:{default:500,blur:0}}" required="required" ng-pattern="/^[a-zA-Z][a-zA-Z0-9_-]*$/" is-namespace-exist="is-namespace-exist" clusterid="{{deployIns.clusterListIns.cluster.id}}" class="input-white line-element"/><span class="txt-wrap"><a ng-click="deployIns.toggleIsNewNamespace()" class="link-safe">选择已有namespace</a></span>
        </div><span ng-if="needValid&amp;&amp;deployForm.selectNamespace.$invalid" class="txt-error">请选择namespace</span><span ng-if="(needValid||deployForm.namespace.$dirty)&amp;&amp;deployForm.namespace.$error.required" class="txt-error">请填写namespace</span><span ng-if="(needValid||deployForm.namespace.$dirty)&amp;&amp;!deployForm.namespace.$error.required&amp;&amp;deployForm.namespace.$error.pattern" class="txt-error">非法的namespace</span><span ng-if="(needValid||deployForm.namespace.$dirty)&amp;&amp;!deployForm.namespace.$error.required&amp;&amp;deployForm.namespace.$error.isNamespaceExist" class="txt-error">namespace已存在</span>
      </div>
    </li>
    <li><span class="info-name">部署名称</span>
      <div class="info-content">
        <div class="line-long">
          <input ng-model="config.deployName" name="deployName" required="required" is-deploy-exist="is-deploy-exist" namespace="{{config.namespace}}" ng-maxlength="20" clustername="{{deployIns.clusterListIns.cluster.name}}" ng-pattern="/^[0-9a-z]([-.]*[0-9a-z]+)*$/" ng-model-options="{updateOn:'default blur',debounce:{default:500,blur:0}}" class="input-fill line-element"/>
        </div>
        <div ng-if="(needValid||deployForm.deployName.$dirty)&amp;&amp;deployForm.deployName.$error.required" class="txt-error">必填</div>
        <div ng-if="(needValid||deployForm.deployName.$dirty)&amp;&amp;!deployForm.deployName.$error.required&amp;&amp;deployForm.deployName.$error.isDeployExist" class="txt-error">部署名已存在</div>
        <div ng-if="(needValid||deployForm.deployName.$dirty)&amp;&amp;!deployForm.deployName.$error.required&amp;&amp;deployForm.deployName.$error.pattern" class="txt-error">非法的名称</div><span ng-if="(needValid||deployForm.deployName.$dirty)&amp;&amp;!deployForm.deployName.$error.required&amp;&amp;deployForm.deployName.$error.maxlength" class="txt-error">长度超出限制</span>
      </div>
    </li>
    <li class="has-border"><span class="info-name">创建者</span>
      <div class="info-content">
        <div class="line-short">
          <div class="select-con line-element">
            <button class="btn btn-white btn-select">{{deployIns.userGroupListIns.userGroup.name}}
              <icon class="icon-down"></icon>
            </button>
            <ul class="select-list">
              <li ng-repeat="group in deployIns.userGroupListIns.userGroupList" class="select-item"><a ng-bind="group.name" ng-click="deployIns.userGroupListIns.toggle($index)"></a></li>
            </ul>
          </div>
          <input type="hidden" name="creatorName" ng-model="deployIns.userGroupListIns.userGroup.name" required="required"/>
        </div><span ng-show="needValid&amp;&amp;deployForm.creatorName.$invalid" class="txt-error">请选择创建者</span>
      </div>
    </li>
    <li><span class="info-name">日志</span>
      <div class="info-content">
        <button ng-click="deployIns.addLogDraft()" class="btn btn-sm btn-active add-log">添加</button>
        <div ng-form="ng-form" ng-repeat="log in config.logDraft.logItemDrafts" name="childForm" class="log-item"><a ng-click="deployIns.deleteLogDraft($index)" class="icon-cancel cancel-log"></a>
          <input placeholder="请输入日志路径，不能放在根目录下" ng-pattern="/^/.*[^/]$/" ng-model="log.logPath" name="logPath" is-required="is-required" param1="{{log.autoCollect&amp;&amp;log.logTopic}}" param2="{{log.autoCollect&amp;&amp;log.processCmd}}" param3="{{log.autoDelete&amp;&amp;log.logExpired}}" class="input-fill element-full"/><span ng-if="(needValid||childForm.logPath.$dirty)&amp;&amp;childForm.logPath.$error.pattern" class="txt-error">非法的格式</span>
          <div class="log-check">
            <input id="autoCollect{{$index}}" type="checkbox" name="autoCollect" ng-model="log.autoCollect" class="dome-check"/>
            <label for="autoCollect{{$index}}">自动收集日志</label>
          </div>
          <div ng-if="log.autoCollect" class="line-full"><span class="log-title"> 日志topic</span>
            <input placeholder="请输入日志topic" name="logTopic" ng-model="log.logTopic" required="required" class="input-fill line-element"/>
          </div>
          <div ng-if="log.autoCollect" class="line-full"><span class="log-title"> 预处理命令</span>
            <div class="line-element">
              <input placeholder="请输入预处理命令" name="processCmd" ng-model="log.processCmd" required="required" class="input-fill full"/><span class="txt-wrap"><a popover="对收集到的日志做进一步处理，比如筛选或增减字段等，可以用grep和awk命令完成，命令以管道形式执行，因此必须以“|”开始，比如一个典型的处理命令为：   | grep &quot;ERROR\\|WARN\\| EXCEPTION\\| statistic&quot; | awk -vnhost=&quot;$HOSTNAME&quot; '{print &quot;[&quot;nhost&quot;]--&quot;$0}'，该命令将只筛选包含四个对应关键字的行，并且会在行首添加&quot;[hostname]--&quot;的字符串，参照可完成其他复杂的处理方式" class="icon-help"></a></span>
            </div>
          </div>
          <div class="log-check">
            <input id="autoDelete{{$index}}" type="checkbox" name="autoDelete" ng-model="log.autoDelete" class="dome-check"/>
            <label for="autoDelete{{$index}}">自动删除日志</label>
          </div>
          <div ng-if="log.autoDelete" class="line-full"><span class="log-title"> 过期时间</span>
            <input placeholder="过期则自动删除" name="logExpired" ng-model="log.logExpired" required="required" ng-pattern="/^[1-9]\d*$/" class="input-fill"/><span class="unit">小时</span>
          </div>
          <div ng-if="(needValid||deployForm.logExpired.$dirty)&amp;&amp;deployForm.logExpired.$invalid" class="txt-error log-error">请输入大于0的整数</div>
        </div>
      </div>
    </li>
    <li class="has-border"><span class="info-name">健康检查</span>
      <div class="info-content"><span class="check-con">
          <input id="checkNONE" type="radio" value="NONE" name="healthCheckerType" ng-model="config.healthCheckerDraft.type" class="dome-radio"/>
          <label for="checkNONE">None</label></span><span class="check-con">
          <input id="checkTCP" type="radio" value="TCP" name="healthCheckerType" ng-model="config.healthCheckerDraft.type" class="dome-radio"/>
          <label for="checkTCP">TCP检查</label></span><span class="check-con">
          <input id="checkHTTP" type="radio" value="HTTP" name="healthCheckerType" ng-model="config.healthCheckerDraft.type" class="dome-radio"/>
          <label for="checkHTTP">HTTP检查</label></span>
        <div ng-if="config.healthCheckerDraft.type=='TCP'||config.healthCheckerDraft.type=='HTTP'" class="line-long"><span class="child-name">检查端口</span>
          <input placeholder="请输入端口号" name="port" ng-model="config.healthCheckerDraft.port" required="required" class="input-fill line-element"/>
        </div><span ng-if="(needValid||deployForm.port.$dirty)&amp;&amp;deployForm.port.$invalid" class="child-error txt-error">必填</span>
        <div ng-if="config.healthCheckerDraft.type=='TCP'||config.healthCheckerDraft.type=='HTTP'" class="line-long"><span class="child-name">超时时间（s）</span>
          <input placeholder="" name="timeout" ng-model="config.healthCheckerDraft.timeout" required="required" ng-pattern="/^[1-9]\d*$/" class="input-fill line-element"/>
        </div><span ng-if="(needValid||deployForm.timeout.$dirty)&amp;&amp;deployForm.timeout.$invalid" class="child-error txt-error">请填写数字</span>
        <div ng-if="config.healthCheckerDraft.type=='HTTP'" class="line-long"><span class="child-name">检测URL</span>
          <input placeholder="请输入URL" name="url" ng-model="config.healthCheckerDraft.url" required="required" class="input-fill line-element"/>
        </div><span ng-if="(needValid||deployForm.url.$dirty)&amp;&amp;deployForm.url.$invalid" class="child-error txt-error">必填</span>
        <div ng-if="config.healthCheckerDraft.type=='HTTP'" class="line-long"><span class="child-name">允许返回值</span><span class="child-txt"> 200-400(不包含400)</span></div>
      </div>
    </li>
    <li class="has-border"><span class="info-name">负载均衡</span>
      <div class="info-content">
        <dome-toggle ng-class="{'on':deployIns.isOpenLoadBalance}" ng-click="deployIns.isOpenLoadBalance=!deployIns.isOpenLoadBalance"></dome-toggle>
        <div ng-if="deployIns.isOpenLoadBalance">
          <div ng-form="ng-form" ng-repeat="loadbalance in config.loadBalanceDrafts" name="childForm" class="log-item">
            <div class="line-full"><span class="log-title"> 程序服务端口</span>
              <input placeholder="请输入容器内部端口" name="targetPort" ng-model="loadbalance.targetPort" is-required="is-required" param1="loadbalance.port" class="input-fill line-element"/>
            </div>
            <div class="line-full"><span class="log-title"> 对外访问端口</span>
              <input placeholder="请输入端口号" name="port" ng-model="loadbalance.port" is-required="is-required" param1="loadbalance.targetPort" class="input-fill line-element"/>
            </div>
            <div class="line-full"><span class="log-title"> 对外访问IP</span>
              <div class="line-element">
                <div ng-repeat="ips in config.loadBalanceDrafts[$index].externalIPs" class="ips">
                  <input placeholder="请输入对外访问IP" name="externalIPs" ng-focus="$last&amp;&amp;deployIns.addExternalIPs($parent.$index)" ng-model="ips.ip" class="input-fill full"/><a ng-show="loadbalance.externalIPs.length&gt;1" ng-click="deployIns.deleteExternalIPs($parent.$index,$index)" class="txt-wrap icon-delete"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="bottom-option"><span class="bottom-option-con">
      <btn ng-click="toLastStep()" class="btn btn-md btn-bright">上一步</btn>
      <btn ng-disabled="loadingsIns.isLoading" ng-click="needValid=true;deployForm.$valid&amp;&amp;toCreate()" class="btn btn-md btn-bright">完成创建</btn><span ng-if="needValid&amp;&amp;deployForm.$invalid" class="txt-error">存在不合法数据，请修改后提交！</span></span></div>
</div>