.mod-option
	.pull-right.right-option
		span(ng-cloak) 共{{templatesListFiltered.length}}个模板
		input.ui-input-search.ui-input-fill(type="text" placeholder="输入模板名称查询" ng-model="vmTemplate.keywords")
	a.ui-btn.ui-btn-md.ui-btn-link.ui-btn-primary.btn-newtemplate(ui-sref="createAlarmTemplate") 新建模板
.mod-list
	loading(ng-if="vmTemplate.isLoading")
	table.ui-table-dome
		thead
			tr
				th 模板名称
				th 创建者
				th 报警类型
				th 创建时间
				th(ng-if="vm.permission.role&&vm.permission.role!='REPORTER'") 操作
		tbody
			tr(ng-if="templatesListFiltered.length==0")
				td(colspan="5") 无相关信息
			tr(ng-repeat="tpl in templatesListFiltered=(vmTemplate.templatesList|filter:{'templateName':vmTemplate.keywords})")
				td
					a.ui-table-link(ng-bind="tpl.templateName" ui-sref="alarmTemplateDetail({id:tpl.id})")
				td(ng-bind="tpl.creatorName")
				td(ng-bind="tpl.templateTypeName")
				td(ng-bind="vmDome.parseDate(tpl.createTime)")
				td(ng-if="vm.permission.role&&vm.permission.role!='REPORTER'")
					a.icon-delete(ng-click="vmTemplate.deleteTpl(tpl.id)")