.mod-group.create-deploy-service(ng-form name="deployCollectionFrom" ng-class="{'need-valid':needValid}" novalidate)
	loading(ng-if="isWaitingCreate")
	.mod-tips-info
		p.txt-prompt
			i.fa.fa-info-circle.icon-algin-right
			| 服务是部署的逻辑集合，服务名称可以修改，部署可以在服务中迁移。
	ul.info-list.group-info.com-list-info
		li.has-border
			span.info-name 服务名称 
				span.require-domain *
			.info-content
				.line-long
					input.ui-input-fill.line-element(ng-model="deployCollection.name" name="deployCollectionName" placeholder="不能有大写字母，不能以中横线开头和结尾" required ng-pattern="/^[a-z0-9]+([._-][a-z0-9]+)*$/"  ng-model-options="{updateOn:'default blur',debounce:{default:500,blur:0}}" is-deploy-collection-exist)
				span.txt-error(ng-if="(needValid||deployCollectionFrom.deployCollectionName.$dirty)&&deployCollectionFrom.deployCollectionName.$error.required") 必填
				span.txt-error(ng-if="(needValid||deployCollectionFrom.deployCollectionName.$dirty)&&!deployCollectionFrom.deployCollectionName.$error.required&&deployCollectionFrom.deployCollectionName.$error.pattern") 非法的名称
				span.txt-error(ng-if="(needValid||deployCollectionFrom.deployCollectionName.$dirty)&&!deployCollectionFrom.deployCollectionName.$error.required&&!deployCollectionFrom.deployCollectionName.$error.pattern&&deployCollectionFrom.deployCollectionName.$invalid&&deployCollectionFrom.deployCollectionName.$error.isDeployCollectionExist") 服务名已存在
		li.has-border
			span.info-name.info-name-sm 服务描述
			.info-content
				.line-long
					textarea.ui-input-fill.line-element(ng-model="deployCollection.description" name="serviceDescription" placeholder="输入服务描述")
		li
			span.info-name 服务成员
			.info-content
				.line-long
					.com-select-con.line-element(select-con label="true")
						ul.selected-labels
							li.select-label(ng-repeat="user in selectedUsers" ng-cloak)
								//- | {{user.username}}
								//- a.icon-cancel(ng-click="cancelUser($index)")
								a.icon-cancle.icon-cancle-former(ng-click="cancelUser($index)")
								| {{user.username}}
							li.select-input
								input.line-element.ui-btn-select(placeholder="搜索成员" ng-model="userKey.key" ng-keydown="userKeyDown($event,userKey.key,userListFiltered[0])")
						ul.select-list
							li(ng-if="!userList||userListFiltered.length===0")
								a 无相关用户信息
							li.select-item(ng-repeat="user in userListFiltered=(userList| filter:{'username':userKey.key})")
								a(ng-bind="user.username" ng-click="selectUser(user.id,user.username);")
				.line-long.line-member
					.com-select-con.line-element(select-con)
						button.ui-btn.ui-btn-select.ui-btn-white.line-element-sm(ng-cloak)
							i.icon-down
							| {{role}}
						ul.select-list
							li.select-item
								a(ng-click="toggleRole('MASTER')") MASTER
							li.select-item
								a(ng-click="toggleRole('DEVELOPER')") DEVELOPER
							li.select-item
								a(ng-click="toggleRole('REPORTER')") REPORTER
					button.ui-btn.ui-btn-sm.ui-btn-bright.ui-btn-add(ng-click="addUser()") 添加
				.line-long
					table.ui-table-primary
						thead
							tr
								th(style="width:40%") 成员名称
								th 服务权限
								th
						tbody
							tr
								td(ng-bind="myself.username")
								td(ng-bind="myself.role")
								td
							tr(ng-repeat="user in selectedUsersList")
								td(ng-bind="user.username")
								td
									.com-select-con(select-con)
										button.ui-btn.ui-btn-white.ui-btn-select(ng-cloak)
											i.icon-down
											| {{user.role}}
										ul.select-list
											li.select-item
												a(ng-click="user.role='MASTER'") MASTER
											li.select-item
												a(ng-click="user.role='DEVELOPER'") DEVELOPER
											li.select-item
												a(ng-click="user.role='REPORTER'") REPORTER											
								td
									button.ui-btn-none.fa.fa-trash-o.icon-trash-color(ng-click="deleteUser($index)")
	.com-bottom-option
		span.com-bottom-option-con
			button.ui-btn.ui-btn-sm.ui-btn-bright(ui-sref="deployCollectionManage") 取消
			button.ui-btn.ui-btn-lg.ui-btn-bright(ng-disabled="isWaitingCreate" ng-click="needValid=true;deployCollectionFrom.$valid&&createDeployCollection()") 完成创建
			span.txt-error(ng-if="needValid&&deployCollectionFrom.$invalid") 您有不合法数据，请修改后重试。