.mod-deploy.create-deploy-image(ng-form name="mirrorsListFrom" ng-class="{'need-valid':needValid.valid}" novalidate)
    loading(ng-if="loadingsIns.isLoading||deployIns.loadingIns.isLoading")
    .mirror-info-con
        ul.com-list-info
            li.has-border
                span.info-name 选择镜像 
                    span.require-domian *
                .info-content
                    .line-long
                        .com-select-con.deploy-select-image-input(select-con event-type="focus")
                            input.ui-input-fill.search-txt.ui-btn-select(placeholder="搜索镜像" ng-model="mirKey")
                            .select-list
                                ul
                                    li(ng-if="imageFiltered.length===0")
                                        a 无相关镜像信息
                                    li.select-item(ng-repeat="image in imageFiltered=(deployIns.imageList|filter:{'imageName':mirKey})")
                                        a(ng-click="deployIns.addImage(image)" ng-cloak)
                                            | {{image.imageName}}
                                            span.txt-prompt.pull-right(ng-bind="image.registry")
                            span.txt-wrap.txt-prompt 可添加多个镜像
    p.nomirror(ng-if="!config.containerDrafts||config.containerDrafts.length===0") 您尚未选择任何镜像。
    .containerdrafts-con
        ul(list-scroll width-offset="400")
            li.nav-option(disabled="true")
                span
                    a.icon-last.to-last
                    a.icon-next.to-next
            li(ng-repeat="image in config.containerDrafts" ng-class="{'active':currentContainerDraft.index===$index,'txt-error':needValid.valid&&mirrorsListFrom['Form'+$index].$invalid}")
                .container-wrap
                    a.link-list(ng-click="currentContainerDraft.index=$index;" ng-bind="image.image")
                    a.fa.fa-times.cancel-container(ng-click="deleteImage($index);fresh()")
    div(ng-repeat="image in config.containerDrafts" ng-init="formName='Form'+$index;imageindex=$index;" ng-show="currentContainerDraft.index===$index")
        ng-form.mirror-info-con(role="form" name="{{formName}}")
            ul.com-list-info
                li.has-border
                    span.info-name.info-name-content-for-label 镜像仓库
                    .info-content.info-name-content-for-label(ng-bind="image.registry")
                li.has-border
                    span.info-name 镜像版本
                    .info-content
                        .com-select-con(select-con)
                            button.ui-btn.ui-btn-white.ui-btn-select(ng-cloak)
                                i.icon-down
                                | {{image.tag || '选择镜像版本'}}
                            ul.select-list
                                li.select-item(ng-repeat="tag in image.tagList")
                                    a(ng-click="deployIns.toggleImageTag($parent.$index,tag.tag)")
                                        span(ng-bind="tag.tag")
                                        span.txt-prompt(ng-bind="vmDome.parseDate(tag.createTime)")
                li.has-border
                    span.info-name 自动部署
                    .info-content
                        dome-toggle(ng-class="{'on':image.autoDeploy}" ng-click="image.autoDeploy=!image.autoDeploy" ng-model="image.autoDeploy")
                        span.txt-prompt 开启后，通过项目构建产生该镜像的新版本时，会自动触发该部署升级。该功能只对运行中的部署有效。
                li.has-border
                    span.info-name 运行过程环境变量
                    .info-content
                        table.ui-table-primary.ui-table-mirror(ng-show="image.oldEnv.length!==0")
                            thead
                                tr
                                    th 环境变量名
                                    th 环境变量值
                                    th 描述
                            tbody
                                tr(ng-repeat="env in image.oldEnv")
                                    td(ng-bind="env.key")
                                    td.tb-value
                                        input.ui-input-fill(ng-model="env.value" name="oldEnvValue")
                                    td(ng-bind="env.description")
                        ul.env-list
                            li.line-long(ng-repeat="env in image.newEnv" ng-form name="childForm")
                                input.line-element.ui-input-fill(placeholder="环境变量名" ng-pattern="/^[A-Za-z_][A-Za-z0-9_]*$/" name="key" ng-model="env.key" is-required param1="{{env.value}}" param2="{{env.description}}")
                                input.line-element.next-item.ui-input-fill(placeholder="环境变量值" name="value" ng-model="env.value" is-required param1="{{env.key}}" param2="{{env.description}}")
                                input.line-element.next-item.ui-input-fill(placeholder="描述20字以内" name="description" ng-model="env.description")
                                a.txt-wrap.icon-delete(ng-click="deployIns.deleteImageEnv($parent.$index,$index)")
                        span.add-env.line-long(ng-click="deployIns.addImageEnv($index)")
                            i.icon-add
                li.has-border
                    span.info-name.info-name-content-for-label 容器大小
                    .info-content.info-name-content-for-label
                        | CPU(个)
                        input.ui-input-fill.ui-input-sm(ng-model="image.cpu" name="cpu" ng-pattern="/^(\\d*\\.)?\\d+$/" required)
                        | 内存(MB)
                        input.ui-input-fill.ui-input-sm(ng-model="image.mem" name="mem" ng-pattern="/^(\\d*\\.)?\\d+$/" required)
                        span.tool-inline-error(ng-if="(needValid.valid||mirrorsListFrom[formName].cpu.$dirty)&&mirrorsListFrom[formName].cpu.$invalid||(needValid.valid||mirrorsListFrom[formName].mem.$dirty)&&mirrorsListFrom[formName].mem.$invalid") 请填写数字
                li.has-border
                    span.info-name.info-name-content-for-label 镜像拉取策略
                    .info-content.info-name-content-for-label
                        dome-radio.com-check-con(d-id="{{'pullPolicyAlways_'+formName}}" d-value="'Always'" d-name="pullPolicyType{{formName}}" d-label="Always" d-model="image.imagePullPolicy")
                        dome-radio.com-check-con(d-id="{{'pullPolicyNever_'+formName}}" d-value="'Never'" d-name="pullPolicyType{{formName}}" d-label="Never" d-model="image.imagePullPolicy")
                        dome-radio.com-check-con(d-id="{{'pullPolicyIfNotPresent_'+formName}}" d-value="'IfNotPresent'" d-name="pullPolicyType{{formName}}" d-label="If Not Present" d-model="image.imagePullPolicy")
                li.has-border
                    span.info-name.tool-align-input 健康检查
                    .info-content.info-content-lg-height
                        dome-radio.com-check-con(d-id="{{'checkNONE_'+formName}}" d-value="'NONE'" d-name="healthCheckerType{{formName}}" d-label="None" d-model="image.healthChecker.type")
                        dome-radio.com-check-con(d-id="{{'checkTCP_'+formName}}" d-value="'TCP'" d-name="healthCheckerType{{formName}}" d-disabled="{{config.networkMode=='HOST'}}" d-label="TCP检查" d-model="image.healthChecker.type")
                        dome-radio.com-check-con(d-id="{{'checkHTTP_'+formName}}" d-value="'HTTP'" d-name="healthCheckerType{{formName}}" d-disabled="{{config.networkMode=='HOST'}}" d-label="HTTP检查" d-model="image.healthChecker.type")
                        p.txt-prompt(ng-if="config.networkMode=='HOST'") Host网络模式下不能使用健康检查
                        .line-long(ng-if="image.healthChecker.type=='TCP'||image.healthChecker.type=='HTTP'")
                            span.child-name 检查端口
                            input.ui-input-fill.line-element(placeholder="请输入端口号" name="port" ng-model="image.healthChecker.port" required)
                        span.child-error.txt-error(ng-if="(needValid.valid||mirrorsListFrom[formName].port.$dirty)&&mirrorsListFrom[formName].port.$invalid") 必填
                        .line-long(ng-if="image.healthChecker.type=='TCP'||image.healthChecker.type=='HTTP'")
                            span.child-name 超时时间（s）
                            input.ui-input-fill.line-element(placeholder="超过时间达到规定阈值，则健康检查判定为异常" name="timeout" ng-model="image.healthChecker.timeout" required ng-pattern="/^[1-9]\\d*$/")
                        span.child-error.txt-error(ng-if="(needValid.valid||mirrorsListFrom[formName].timeout.$dirty)&&mirrorsListFrom[formName].timeout.$invalid") 请填写数字
                        .line-long(ng-if="image.healthChecker.type=='TCP'||image.healthChecker.type=='HTTP'")
                            span.child-name 首次检测延迟（s）
                            input.ui-input-fill.line-element(placeholder="容器启动后延迟规定秒数，再开始健康检查" name="delay" ng-model="image.healthChecker.delay" required ng-pattern="/^[1-9]\\d*$/")
                        span.child-error.txt-error(ng-if="(needValid.valid||mirrorsListFrom[formName].delay.$dirty)&&mirrorsListFrom[formName].delay.$invalid") 请填写数字
                        .line-long(ng-if="image.healthChecker.type=='HTTP'")
                            span.child-name 检测URL
                            input.ui-input-fill.line-element(placeholder="请输入URL" name="url" ng-model="image.healthChecker.url" required)
                        span.child-error.txt-error(ng-if="(needValid.valid||mirrorsListFrom[formName].url.$dirty)&&mirrorsListFrom[formName].url.$invalid") 必填
                        .line-long(ng-if="image.healthChecker.type=='HTTP'")
                            span.child-name 允许返回值
                            span.child-txt  200-400(不包含400)
                li
                   span.info-name.info-name-lg 日志
                   .info-content
                       p.txt-prompt.no-log(ng-if="deployIns.logConfig===0") 所选集群没有开启日志自动收集。不能进行日志相关配置。
                       
                       div.log-item(ng-form ng-repeat="log in image.logItemDrafts" name="childForm" ng-if="deployIns.logConfig")
                           a.icon-cancel.cancel-log(ng-click="deployIns.deleteLogDraft(image, log)")
                           input.ui-input-fill.element-full(placeholder="请输入日志路径，不能放在根目录下" ng-pattern="/^\/.*[^\/]$/" ng-model="log.logPath" name="logPath" is-required param1="{{log.autoCollect&&log.logTopic}}" param2="{{log.autoCollect&&log.processCmd}}" param3="{{log.autoDelete&&log.logExpired}}")
                           span.txt-error(ng-if="(needValid||childForm.logPath.$dirty)&&childForm.logPath.$error.pattern") 非法的格式
                           div.log-check
                               input.ui-check(id="autoCollect_{{imageindex}}_{{$index}}" type="checkbox" name="autoCollect" ng-model="log.autoCollect")
                               label(for="autoCollect_{{imageindex}}_{{$index}}") 自动收集日志
                           .line-full(ng-if="log.autoCollect")
                               span.log-title  日志topic
                               input.ui-input-fill.line-element(placeholder="请输入日志topic" name="logTopic" ng-model="log.logTopic" required)
                           .line-full(ng-if="log.autoCollect")
                               span.log-title  预处理命令
                               .line-element
                                   input.ui-input-fill.full(placeholder="请输入预处理命令" name="processCmd" ng-model="log.processCmd")
                                   span.txt-wrap
                                       a.icon-help(popover="对收集到的日志做进一步处理，比如筛选或增减字段等，可以用grep和awk命令完成，命令以管道形式执行，因此必须以“|”开始，比如一个典型的处理命令为：   | grep \"ERROR\\\\|WARN\\\\| EXCEPTION\\\\| statistic\" | awk -vnhost=\"$HOSTNAME\" '{print \"[\"nhost\"]--\"$0}'，该命令将只筛选包含四个对应关键字的行，并且会在行首添加\"[hostname]--\"的字符串，参照可完成其他复杂的处理方式")
                           div.log-check
                               input.ui-check(id="autoDelete_{{imageindex}}_{{$index}}" type="checkbox" name="autoDelete" ng-model="log.autoDelete")
                               label(for="autoDelete_{{imageindex}}_{{$index}}") 自动删除日志
                           .line-full(ng-if="log.autoDelete")
                               span.log-title  过期时间
                               input.ui-input-fill(placeholder="过期则自动删除" name="logExpired" ng-model="log.logExpired" required ng-pattern="/^[1-9]\\d*$/" )
                               span.unit 小时
                           .txt-error.log-error(ng-if="(needValid||deployForm.logExpired.$dirty)&&deployForm.logExpired.$invalid") 请输入大于0的整数
                       button.ui-btn.ui-btn-sm.ui-btn-active.add-log(ng-click="deployIns.addLogDraft(image)" ng-if="deployIns.logConfig") 添加
    .com-bottom-option.text-center
        span.com-bottom-option-con
            button.ui-btn.ui-btn-md.ui-btn-bright(ng-disabled="loadingsIns.isLoading||deployIns.loadingIns.isLoading" ng-click="toLastStep()") 上一步
            button.ui-btn.ui-btn-md.ui-btn-bright(ng-disabled="loadingsIns.isLoading||deployIns.loadingIns.isLoading" ng-click="needValid.valid=true;mirrorsListFrom.$valid&&toCreate()") 完成
            span.txt-error(ng-if="needValid.valid&&mirrorsListFrom.$invalid") 存在不合法数据，请修改后提交！

