.watcher-detail{
    .cluster-name {
        max-width:8%;
        .item-content{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width:100%;
        }
    }
}

.instance-info-row {
    display: table-row;
    .cell {
        display: table-cell;
        padding-right: 50px;
        padding-bottom: 20px;
    }
}

.watcher-update .form-config-item-content {
    margin-left: 10px;
}

.fa-close:hover {
    &:before {
        color: #188ae2;
    }
}