<!DOCTYPE html>
<html ng-app="domeApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>DomeOS</title>
    <style>/* line 2, ng-cloak.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .translate-cloak, .x-ng-cloak, .ng-hide {
  display: none !important;
}

/* line 2, ng-cloak.scss */
ng\:form {
  display: block;
}

/* line 2, ng-cloak.scss */
.ng-animate-start {
  clip: rect(0, auto, auto, 0);
  -ms-zoom: 1.0001;
}

/* line 2, ng-cloak.scss */
.ng-animate-active {
  clip: rect(-1px, auto, auto, 0);
  -ms-zoom: 1;
}

    </style>
    <link href="/favicon.ico" rel="shortcut icon"><!-- build:css ../css/domeStyle.min.css -->
    <link rel="stylesheet" href="lib/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="index/css/ng-scrollbar.css" type="text/css">
    <link rel="stylesheet" href="common/css/base.css" type="text/css">
    <link rel="stylesheet" href="index/css/index.css" type="text/css">
    <link rel="stylesheet" href="index/css/bussiness.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/nav/nav.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/projectManage/projectManage.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/deployManage/deployManage.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/groupManage/groupManage.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/imageManage/imageManage.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/globalSetting/globalSetting.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/clusterManage/clusterManage.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/appStore/appStore.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/createProject1/createProject1.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/createProject2/createProject2.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/projectDetail/projectDetail.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/createCluster/createCluster.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/tplProjectSetting/projectSetting1Tpl.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/tplUserList/tplUserList.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/createDeploy1/createDeploy1.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/createDeploy2/createDeploy2.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/createAppDeploy/createAppDeploy.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/monitor/monitor.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/deployDetail/deployDetail.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/createGroup/createGroup.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/groupDetail/groupDetail.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/hostDetail/hostDetail.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/addHost/addHost.css" type="text/css">
    <link rel="stylesheet" href="index/tpl/clusterDetail/clusterDetail.css" type="text/css">
    <link rel="stylesheet" type="text/css"><!-- endbuild -->
  </head>
  <body ng-controller="domeCtr" resize-body>
    <div class="page">
      <ng-include src="'index/tpl/nav/nav.html'"></ng-include>
      <div class="content">
        <header class="header">
          <ul class="pull-right header-item">
            <li class="header-doc"><a href="http://doc.domeos.org" target="_blank"><span class="icon-doc"></span>文档</a></li>
            <li select-con class="header-user">
              <button ng-cloak class="btn btn-none username btn-select">{{loginUser.username}}<i class="icon-down-white up drop"></i></button>
              <ul class="user-option select-list">
                <li class="arrow"></li>
                <li select-item ng-if="loginUser.login_type=='USER'"><a ng-click="modifyPw()">修改密码</a></li>
                <li select-item><a ng-click="logout()">退出登录</a></li>
              </ul>
            </li>
          </ul>
          <div class="breadcrunmbs"><span ncy-breadcrumb ncy-breadcrumb-text-separator=" &gt; "></span></div>
          <div class="page-info">
            <h1 ng-bind="title" class="page-title"></h1><span ng-bind="descrition" class="page-detail"></span>
          </div>
        </header>
        <div ui-view="" class="module container"></div>
      </div>
    </div>
    <script type="text/ng-template" id="promptModal.html">
      <div class="d-modal-header">提示</div>
      <div class="modal-body">
        <p ng-bind="promptTxt"></p>
      </div>
      <div class="modal-footer">
        <button ng-click="cancel()" class="btn btn-primary btn-sm">确定</button>
      </div>
    </script>
    <script type="text/ng-template" id="confirmModal.html">
      <div class="d-modal-header">提示</div>
      <div class="modal-body">
        <p ng-bind="promptTxt"></p>
      </div>
      <div class="modal-footer">
        <button ng-click="cancel()" class="btn btn-white btn-sm">取消</button>
        <button ng-click="sure()" class="btn btn-primary btn-sm">继续</button>
      </div>
    </script>
    <script type="text/ng-template" id="warningModal.html">
      <div class="d-modal-header">警告</div>
      <div class="modal-body">
        <p ng-bind="promptTxt" class="txt-error"></p>
      </div>
      <div class="modal-footer">
        <button ng-click="cancel()" class="btn btn-error btn-sm">确定</button>
      </div>
    </script>
    <script type="text/ng-template" id="deleteModal.html">
      <div class="d-modal-header">删除</div>
      <div class="modal-body">
        <p ng-bind="promptTxt" class="txt-error"></p>
      </div>
      <div class="modal-footer">
        <button ng-click="cancel()" class="btn btn-white btn-sm">取消</button>
        <button ng-click="delete()" class="btn btn-error btn-sm">确定</button>
      </div>
    </script>
    <script type="text/ng-template" id="modifyPwModal.html">
      <div class="d-modal-header">修改密码</div>
      <div class="modal-body">
        <ul ng-form name="pwForm" role="form" ng-class="{'need-valid':needValid}" class="modal-info">
          <li>
            <label class="info-name">原密码</label>
            <div class="info-txt text-left">
              <input placeholder="请输入原密码" type="password" name="oldPw" ng-model="pwObj.oldpassword" required class="full input-white">
            </div>
          </li>
          <li>
            <label class="info-name">新密码</label>
            <div class="info-txt text-left">
              <input placeholder="8-20位" ng-model-options="{updateOn:'default blur',debounce:{default:500,blur:0}}" type="password" name="newPw" ng-model="pwObj.newpassword" required ng-minlength="8" ng-maxlength="20" class="full input-white"><span ng-if="(needValid||pwForm.newPw.$dirty)&amp;&amp;(pwForm.newPw.$error.minlength||pwForm.newPw.$error.maxlength)" class="txt-error">长度必须为8-20位</span>
            </div>
          </li>
          <li>
            <label class="info-name">确认新密码</label>
            <div class="info-txt text-left">
              <input placeholder="再次输入新密码" type="password" ng-model-options="{updateOn:'default blur',debounce:{default:500,blur:0}}" name="newPwAgain" ng-model="newPwAgain" required equal="pwObj.newpassword" class="full input-white"><span ng-if="(needValidUser.valid||pwForm.newPwAgain.$dirty)&amp;&amp;pwForm.newPwAgain.$error.equal" class="txt-error">两次密码不一致</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button ng-click="cancel()" class="btn btn-white btn-sm">取消</button>
        <button ng-click="needValid=true;pwForm.$valid&amp;&amp;modiftPw()" class="btn btn-sm btn-primary">确定</button>
      </div><!-- build:js ../js/lib.min.js -->
    </script>
    <script type="text/javascript" src="lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="lib/js/angular.min.js"></script>
    <script type="text/javascript" src="lib/js/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="lib/js/ng-scrollbar.js"></script>
    <script type="text/javascript" src="lib/js/angular-locale_zh-cn.js"></script>
    <script type="text/javascript" src="lib/js/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="lib/js/angular-file-upload.min.js"></script>
    <script type="text/javascript" src="lib/js/angular-animate.min.js"></script>
    <script type="text/javascript" src="lib/js/angular-breadcrumb.min.js"></script>
    <script type="text/javascript" src="lib/js/bindonce.min.js"></script><!-- endbuild -->
    <!-- build:js ../js/domeApp.min.js -->
    <script type="text/javascript" src="common/js/base.js"></script>
    <script type="text/javascript" src="index/js/domeApp.js"></script>
    <script type="text/javascript" src="index/js/filter.js"></script>
    <script type="text/javascript" src="index/js/services/publicServive.js"></script>
    <script type="text/javascript" src="index/js/services/domeService.js"></script>
    <script type="text/javascript" src="index/js/services/clusterService.js"></script>
    <script type="text/javascript" src="index/js/services/deployService.js"></script>
    <script type="text/javascript" src="index/js/services/globalService.js"></script>
    <script type="text/javascript" src="index/js/services/monitorService.js"></script>
    <script type="text/javascript" src="index/js/directives/domeDirective.js"></script>
    <script type="text/javascript" src="index/js/directives/domeValidation.js"></script>
    <script type="text/javascript" src="index/js/controllers/indexController.js"></script>
    <script type="text/javascript" src="index/tpl/projectManage/projectManageCtr.js"></script>
    <script type="text/javascript" src="index/tpl/deployManage/deployManageCtr.js"></script>
    <script type="text/javascript" src="index/tpl/groupManage/groupManageCtr.js"></script>
    <script type="text/javascript" src="index/tpl/clusterManage/clusterManageCtr.js"></script>
    <script type="text/javascript" src="index/tpl/appStore/appStoreCtr.js"></script>
    <script type="text/javascript" src="index/tpl/imageManage/imageManageCtr.js"></script>
    <script type="text/javascript" src="index/tpl/globalSetting/globalSettingCtr.js"></script>
    <script type="text/javascript" src="index/tpl/createProject1/createProjectCtr1.js"></script>
    <script type="text/javascript" src="index/tpl/createProject2/createProjectCtr2.js"></script>
    <script type="text/javascript" src="index/tpl/projectDetail/projectDetailCtr.js"></script>
    <script type="text/javascript" src="index/tpl/createDeploy1/createDeployCtr1.js"></script>
    <script type="text/javascript" src="index/tpl/createDeploy2/createDeployCtr2.js"></script>
    <script type="text/javascript" src="index/tpl/createAppDeploy/createAppDeployCtr.js"></script>
    <script type="text/javascript" src="index/tpl/monitor/monitorCtr.js"></script>
    <script type="text/javascript" src="index/tpl/deployDetail/deployDetailCtr.js"></script>
    <script type="text/javascript" src="index/tpl/createGroup/createGroupCtr.js"></script>
    <script type="text/javascript" src="index/tpl/groupDetail/groupDetailCtr.js"></script>
    <script type="text/javascript" src="index/tpl/clusterDetail/clusterDetailCtr.js"></script>
    <script type="text/javascript" src="index/tpl/createCluster/createClusterCtr.js"></script>
    <script type="text/javascript" src="index/tpl/hostDetail/hostDetailCtr.js"></script>
    <script type="text/javascript" src="index/tpl/addHost/addHostCtr.js"></script>
    <script type="text/javascript" src="index/tpl/modal/buildModal/buildModalCtr.js"></script>
    <script type="text/javascript" src="index/tpl/modal/hostListModal/hostListModalCtr.js"></script>
    <script type="text/javascript" src="index/tpl/modal/otherImageModal/otherImageModalCtr.js"></script>
    <script type="text/javascript" src="index/tpl/modal/instanceLogModal/instanceLogModalCtr.js"></script>
    <script type="text/javascript" src="index/tpl/modal/selectContainerModal/selectContainerModalCtr.js"></script>
    <script type="text/javascript" src="index/tpl/tplUserList/tplUserListCtr.js"></script>
    <script type="text/javascript" src=""></script><!-- endbuild -->
  </body>
</html>