doctype html
html(ng-app="domeApp")
  head
      meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
      title DomeOS
      style
        include ../common/css/ng-cloak.css
      link(href="/favicon.ico" rel="shortcut icon")
      <!-- build:css index/css/domeStyle.min.css -->
      link(rel="stylesheet" href='lib/css/bootstrap.css' type="text/css")
      link(rel="stylesheet" href='lib/css/loading-bar.css' type="text/css")
      link(rel="stylesheet" href='index/css/ng-scrollbar.css' type="text/css")
      link(rel="stylesheet" href="common/css/base.css" type="text/css")
      link(rel="stylesheet" href="index/css/index.css" type="text/css")
      link(rel="stylesheet" href="index/css/bussiness.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/nav/nav.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/projectManage/projectManage.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/deployManage/deployManage.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/groupManage/groupManage.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/imageManage/imageManage.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/globalSetting/globalSetting.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/clusterManage/clusterManage.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/appStore/appStore.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/createProject1/createProject1.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/createProject2/createProject2.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/projectDetail/projectDetail.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/createCluster/createCluster.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/tplProjectSetting/projectSettingTpl.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/tplUserList/tplUserList.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/createDeploy1/createDeploy1.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/createDeploy2/createDeploy2.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/createAppDeploy/createAppDeploy.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/monitor/monitor.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/alarm/alarm.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/alarmAddHosts/alarmAddHosts.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/deployDetail/deployDetail.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/createGroup/createGroup.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/groupDetail/groupDetail.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/hostDetail/hostDetail.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/addHost/addHost.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/clusterDetail/clusterDetail.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/mirrorCustom/mirrorCustom.css" type="text/css")
      link(rel="stylesheet" href="index/tpl/tplAlarmTemplate/tplAlarmTemplate.css" type="text/css")
      link(rel="stylesheet" type="text/css")
      <!-- endbuild -->
  body(ng-controller="DomeCtr as vmDome" resize-body)
    .page
      ng-include(src="'index/tpl/nav/nav.html'")
      .content
        .top-prompt.ng-hide(ng-show="vmDome.showPrompt") 为了方便试用DomeOS，目前正在使用H2内存数据库。如果DomeOS Server重启，则该数据库信息会丢失。您可以配置MySQL作为数据库，MySQL配置详见
            a.txt-bright(href="http://doc.domeos.org" target="_blank") 使用文档
            | 。
            a.icon-cancel.pull-right(ng-click="vmDome.showPrompt = false")
        header.header
          ul.pull-right.header-item
            li.header-doc
              a(href="http://doc.domeos.org" target="_blank")
               span.icon-doc
               | 文档
            li.header-user
              div(select-con)
                button.ui-btn.ui-btn-none.username.ui-btn-select(ng-cloak)
                 | {{vmDome.loginUser.username}}
                 i.icon-down-white.up.drop
                ul.com-user-option.select-list
                  li.arrow
                  li(select-item)
                    a(ng-click="vmDome.modifySelfInfo()") 修改资料
                  li(select-item  ng-if="vmDome.loginUser.loginType=='USER'")
                    a(ng-click="vmDome.modifyPw()") 修改密码
                  li(select-item)
                    a(ng-click="vmDome.logout()") 退出登录
          .breadcrunmbs
            span(ncy-breadcrumb ncy-breadcrumb-text-separator=" > ")
          .page-info
            h1.page-title(ng-bind="vmDome.title")
            span.page-detail(ng-bind="vmDome.descrition")
        .module.container(ui-view="")
    script(type="text/ng-template" id="promptModal.html")
      .d-modal-header 提示
      .modal-body
        p(ng-bind="promptTxt")
      .modal-footer
        button.ui-btn.ui-btn-primary.ui-btn-sm(ng-click="cancel()") 确定
    script(type="text/ng-template" id="confirmModal.html")
      .d-modal-header 提示
      .modal-body
        p(ng-bind="promptTxt")
      .modal-footer
        button.ui-btn.ui-btn-white.ui-btn-sm(ng-click="cancel()") 取消
        button.ui-btn.ui-btn-primary.ui-btn-sm(ng-click="sure()") 继续
    script(type="text/ng-template" id="warningModal.html")
      .d-modal-header 警告
      .modal-body
        p.txt-error(ng-bind="titleInfo" ng-class="{'font-size-16':detailInfo}")
        p.txt-error.tool-wrap-break(ng-bind="detailInfo")
      .modal-footer
        button.ui-btn.ui-btn-error.ui-btn-sm(ng-click="cancel()") 确定
    script(type="text/ng-template" id="deleteModal.html")
      .d-modal-header 删除
      .modal-body
        p.txt-error(ng-bind="promptTxt")
      .modal-footer
        button.ui-btn.ui-btn-white.ui-btn-sm(ng-click="cancel()") 取消
        button.ui-btn.ui-btn-error.ui-btn-sm(ng-click="delete()") 确定
    script(type="text/ng-template" id="modifyPwModal.html")
      .d-modal-header 修改密码
      .modal-body
        ul.modal-info(ng-form name="pwForm" role="form" ng-class="{'need-valid':needValid}")
          li
            label.info-name 原密码
            .info-txt.text-left
              input.full.ui-input-white(placeholder="请输入原密码" type="password" name="oldPw" ng-model="pwObj.oldpassword" required)
          li
            label.info-name 新密码
            .info-txt.text-left
              input.full.ui-input-white(placeholder="8-20位" ng-model-options="{updateOn:'default blur',debounce:{default:500,blur:0}}" type="password" name="newPw" ng-model="pwObj.newpassword" required ng-minlength="8" ng-maxlength="20")
              span.txt-error(ng-if="(needValid||pwForm.newPw.$dirty)&&(pwForm.newPw.$error.minlength||pwForm.newPw.$error.maxlength)") 长度必须为8-20位
          li
            label.info-name 确认新密码
            .info-txt.text-left
              input.full.ui-input-white(placeholder="再次输入新密码" type="password" ng-model-options="{updateOn:'default blur',debounce:{default:500,blur:0}}"  name="newPwAgain" ng-model="newPwAgain" required equal="pwObj.newpassword")
              span.txt-error(ng-if="(needValidUser.valid||pwForm.newPwAgain.$dirty)&&pwForm.newPwAgain.$error.equal") 两次密码不一致
      .modal-footer
        button.ui-btn.ui-btn-white.ui-btn-sm(ng-click="cancel()") 取消
        button.ui-btn.ui-btn-sm.ui-btn-primary(ng-click="needValid=true;pwForm.$valid&&modiftPw()") 确定
    script(type="text/ng-template" id="modifyUserInfoModal.html")
      .d-modal-header 修改资料
      .modal-body.text-center.modal-newpw(ng-form role="form" name="userInfoForm")
          ul.modal-info
              li
                  span.info-name 用户名
                  .info-content.text-left
                      span.align-input(ng-bind="user.username")
              li
                  span.info-name 邮箱
                  .info-content.text-left
                      input.ui-input-white.full(ng-model="user.email" name="email")
              li
                  span.info-name 电话
                  .info-content.text-left
                      input.ui-input-white.full(ng-model="user.phone" name="phone")
      .modal-footer
          button.ui-btn.ui-btn-sm.ui-btn-white(ng-click="cancel()") 取消
          button.ui-btn.ui-btn-sm.ui-btn-safe(ng-click="submit()") 保存
    div
    <!-- build:js index/js/lib.min.js -->
    script(type="text/javascript" src="lib/js/jquery.min.js")
    script(type="text/javascript" src="lib/js/angular.min.js")
    script(type="text/javascript" src="lib/js/angular-ui-router.min.js")
    script(type="text/javascript" src="lib/js/ng-scrollbar.js")
    script(type="text/javascript" src="lib/js/angular-locale_zh-cn.js")
    script(type="text/javascript" src="lib/js/ui-bootstrap-tpls.min.js")
    //- script(type="text/javascript" src="lib/js/angular-file-upload.min.js")
    script(type="text/javascript" src="lib/js/angular-animate.min.js")
    script(type="text/javascript" src="lib/js/angular-breadcrumb.min.js")
    script(type="text/javascript" src="lib/js/bindonce.min.js")
    script(type="text/javascript" src="lib/js/ocLazyLoad.js")
    script(type="text/javascript" src="")
    <!-- endbuild -->
    <!-- build:js index/js/domeApp.min.js -->
    //- script(type="text/javascript" src="common/js/publicService.js")
    script(type="text/javascript" src="common/publicModule/publicModule.js")
    script(type="text/javascript" src="common/publicModule/directive/publicDirective.js")
    script(type="text/javascript" src="common/domeModule/domeModule.js")
    script(type="text/javascript" src="common/deployModule/deployModule.js")
    script(type="text/javascript" src="common/imageModule/imageModule.js")
    script(type="text/javascript" src="common/projectModule/projectModule.js")
    script(type="text/javascript" src="common/userModule/userModule.js")
    script(type="text/javascript" src="index/js/domeApp.js")
    script(type="text/javascript" src="index/js/filter.js")
    script(type="text/javascript" src="index/js/services/domeService.js")
    script(type="text/javascript" src="index/js/services/clusterService.js")
    script(type="text/javascript" src="index/js/services/monitorService.js")
    script(type="text/javascript" src="index/js/services/alarmService.js")
    script(type="text/javascript" src="index/js/directives/domeDirective.js")
    script(type="text/javascript" src="index/js/directives/domeValidation.js")
    script(type="text/javascript" src="index/js/controllers/indexController.js")
    script(type="text/javascript" src="index/tpl/projectManage/projectManageCtr.js")
    script(type="text/javascript" src="index/tpl/deployManage/deployManageCtr.js")
    script(type="text/javascript" src="index/tpl/groupManage/groupManageCtr.js")
    script(type="text/javascript" src="index/tpl/clusterManage/clusterManageCtr.js")
    script(type="text/javascript" src="index/tpl/appStore/appStoreCtr.js")
    script(type="text/javascript" src="index/tpl/imageManage/imageManageCtr.js")
    script(type="text/javascript" src="index/tpl/globalSetting/globalSettingCtr.js")
    script(type="text/javascript" src="index/tpl/createProject1/createProjectCtr1.js")
    script(type="text/javascript" src="index/tpl/createProject2/createProjectCtr2.js")
    script(type="text/javascript" src="index/tpl/projectDetail/projectDetailCtr.js")
    script(type="text/javascript" src="index/tpl/createDeploy1/createDeployCtr1.js")
    script(type="text/javascript" src="index/tpl/createDeploy2/createDeployCtr2.js")
    script(type="text/javascript" src="index/tpl/createAppDeploy/createAppDeployCtr.js")
    script(type="text/javascript" src="index/tpl/monitor/monitorCtr.js")
    script(type="text/javascript" src="index/tpl/alarm/alarmCtr.js")
    script(type="text/javascript" src="index/tpl/alarmAddHosts/alarmAddHostsCtr.js")
    script(type="text/javascript" src="index/tpl/alarmTemplateDetail/alarmTemplateDetailCtr.js")
    script(type="text/javascript" src="index/tpl/createAlarmTemplate/createAlarmTemplateCtr.js")
    script(type="text/javascript" src="index/tpl/deployDetail/deployDetailCtr.js")
    script(type="text/javascript" src="index/tpl/createGroup/createGroupCtr.js")
    script(type="text/javascript" src="index/tpl/groupDetail/groupDetailCtr.js")
    script(type="text/javascript" src="index/tpl/clusterDetail/clusterDetailCtr.js")
    script(type="text/javascript" src="index/tpl/createCluster/createClusterCtr.js")
    script(type="text/javascript" src="index/tpl/hostDetail/hostDetailCtr.js")
    script(type="text/javascript" src="index/tpl/addHost/addHostCtr.js")
    script(type="text/javascript" src="index/tpl/modal/buildModal/buildModalCtr.js")
    script(type="text/javascript" src="index/tpl/modal/hostListModal/hostListModalCtr.js")
    script(type="text/javascript" src="index/tpl/modal/otherImageModal/otherImageModalCtr.js")
    script(type="text/javascript" src="index/tpl/modal/instanceLogModal/instanceLogModalCtr.js")
    script(type="text/javascript" src="index/tpl/modal/selectContainerModal/selectContainerModalCtr.js")
    script(type="text/javascript" src="index/tpl/modal/dockerfileModal/dockerfileModalCtr.js")
    script(type="text/javascript" src="index/tpl/modal/branchCheckModal/branchCheckModalCtr.js")
    script(type="text/javascript" src="index/tpl/tplUserList/tplUserListCtr.js")
    script(type="text/javascript" src="index/tpl/mirrorCustom/mirrorCustomCtr.js")
    script(type="text/javascript" src="")
    <!-- endbuild -->