/*
 * 全局颜色设置
 */

::-moz-placeholder {
  color: /*[[COMMON_LIGHT_GRAY_COLOR*/#ddd/*]]*/;
}

:-ms-input-placeholder {
  color: /*[[COMMON_LIGHT_GRAY_COLOR*/#ddd/*]]*/;
}

::-webkit-input-placeholder {
  color: /*[[COMMON_LIGHT_GRAY_COLOR*/#ddd/*]]*/;
}

::placeholder {
  color: /*[[COMMON_LIGHT_GRAY_COLOR*/#ddd/*]]*/;
}

body {
  font-size: 14px;
  color: /*[[DEFAULT_TEXT_COLOR*/#888/*]]*/;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Segoe UI", "Microsoft YaHei", "wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
 * reset
 */
.new-layout {
  /* 如果需要重置样式，请写在这里 */
}

/*
 * 为表单元素的基础样式
 */

.form-container-inner * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-container-inner {
  line-height: 30px;
}

.form-container-inner form, form .form-container-inner {
  line-height: 40px;
}


/* 输入框 */

.new-layout input[type="text"],
.new-layout input[type="search"],
.new-layout input[type="number"],
.new-layout input[type="password"],
.new-layout input[type="email"],
.new-layout input[type="tel"],
.new-layout textarea {
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  padding: 1px 20px;
  margin: 3px 0;
  height: 34px;
  width: 100%;
  line-height: 30px;
}
.new-layout input[type="number"] {
    width: 20%;
}
/* 文本框高度 */

.new-layout textarea {
  height: 94px;
  line-height: 20px;
  resize: vertical;
  vertical-align: middle;
}


/* 按钮 */

.new-layout button:not(.old-button) {
  min-width: 65px;
  height: 34px;
  line-height: 30px;
  padding: 1px 9px;
  font-size: inherit;
  text-align: center;
  color: #fff;
  background-color: /*[[BUTTON_COLOR*/#188ae2/*]]*/;
  border: 1px solid /*[[BUTTON_COLOR*/#188ae2/*]]*/;
  border-radius: 3px;
}

.new-layout button:active {
  padding: 2px 7px 0px 11px;
  vertical-align: -1px;
}

.new-layout button[disabled] {
  background-color: #777;
  border:none;
}
.new-layout button.secondary-button:not(.old-button) {
  background-color: #fff;
  color: /*[[DEFAULT_TEXT_COLOR*/#888/*]]*/;
  border: 1px solid /*[[COMMON_LIGHT_GRAY_COLOR*/#ddd/*]]*/;
}


/* 小图标 */

.icon {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

.icon16 {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
}


/* style reset */

.icon.icon.icon {
  padding: 0 !important;
  margin: 0 !important;
}

.icon-group-container > * + * {
  display: inline-block;
  margin-left: 10px;
}

.icon,
.icon-group-container {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.icon-disabled {
  cursor: default;
}


/* 输入框与按钮垂直居中 */

.new-layout input,
.new-layout button {
  /*vertical-align: middle;*/
}


/*
 * 表单的基础样式
 */


/* 表单整体 */

.form-container-inner {
  margin: 20px;
}
.dialog-content .form-container-inner {
  margin: 0;
}
/* 表单设置组之间要有分割线和间距 */

.form-container-inner form-config-group ~ form-config-group > .form-config-group-inner {
  border-top: 1px solid /*[[ITEM_BACKGROUND_COLOR*/#f9f9f9/*]]*/;
}

.form-config-group-inner {
  padding: 5px 10px;
}

form .form-config-group-inner {
  padding: 10px;
}


/* 表单项之间要有间距 */

.form-config-item-wrapper {
  margin: 0;
}

.form-config-item {
  padding: 5px 0 5px 20px;
  position: relative;
  min-height: 40px;
}


/* 如果有输入框，那么行高应该更高；这里用它是否在form内判断是否有输入框 */

form .form-config-item {
  padding: 10px 0 10px 20px;
  min-height: 60px;
}

form-config-item + form-config-item {
    margin-top: -10px;
    display: block;
}


/* 表单项的标题 */

.form-config-item .form-config-item-title {
  position: absolute;
  top: 5px;
  left: 0;
  text-align: right;
  font-weight: bold;
}

form .form-config-item .form-config-item-title {
  top: 10px;
}


/* 当表单项标记为必填时的红色星号标记 */

.form-config-item-required .form-config-item-title::after {
  content: "＊";
  position: absolute;
  top: 0;
  left: 100%;
  vertical-align: super;
  color: /*[[REQUIRED_COLOR*/#C00/*]]*/;
}


/* 表单的按钮行的样式 */

.form-config-button-group-inner .form-config-item {
  overflow: hidden;
}

.form-config-button-group-inner button {
  display: block;
  float: left;
  margin-right: 16px;
  min-width: 90px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-config-button-group-inner::before,
.form-config-button-group-inner::after {
  content: " ";
  display: table;
  clear: both;
}

.form-button-collection-container {
  overflow: hidden;
}

.form-button-collection-container > * {
  display: block;
  float: left;
  margin-right: 16px;
}


/* 输入框的容器 */

.form-input-container {
  position: relative;
}

.form-input-container-inner {
  width: 100%;
}


/* 处理一下、二级表单 */

.form-input-container-inner .form-container-inner,
.form-input-container-inner .form-config-group-inner {
  margin: 0;
  padding: 0;
}

.form-input-container-inner .form-container-inner {
  border: 1px solid /*[[COMMON_LIGHT_GRAY_COLOR*/#ddd/*]]*/;
  border-radius: 3px;
  padding: 0 10px;
  margin: 3px 0;
}

.form-array-item-content .form-container-inner {
  border: 0;
  padding: 0;
}

.form-input-container-inner .form-config-item .form-config-item-title {
  font-weight: normal;
}

.form-input-container-inner .form-container-inner form-config-group ~ form-config-group > .form-config-group-inner {
  border: none;
}


/* 输入框旁的帮助文字 */

.form-help-text {
  line-height: 30px;
  color: #aaa;
  display: block;
}

.form-input-help-text-top {
  padding-top: 5px;
  display: block;
}

.sub-form-container .form-input-help-text-top {
  padding-top: 0px;
}

.form-input-help-text-right {
  text-align: right;
}


/* 表单验证出错的提示文字 */

.form-input-error-message {
  color: /*[[ERROR_COLOR*/#A00/*]]*/;
}


/* 表单单选圆点和多选勾框相关样式 */

.form-input-radio-option-container,
.form-input-checkbox-container {
  padding-left: 30px;
  position: relative;
}

.form-input-radio-as-card {
  margin: 0 -5px;
}

.form-input-checkbox-as-switch-container {
  padding-left: 42px;
}

.form-input-checkbox-hidden-container,
.form-input-checkbox-as-button-container {
  padding-left: 0;
}

.form-input-checkbox-as-button-container {
  display: inline-block;
}

.form-input-radio-wrapper,
.form-input-checkbox-wrapper {
  position: absolute;
  left: 0;
  top: 50%;
  height: 20px;
  margin-top: -11px;
}

.form-input-radio,
.form-input-checkbox {
  display: none;
}

.form-input-checkbox-hidden-container .form-input-checkbox-wrapper,
.form-input-checkbox-as-button-container .form-input-checkbox-wrapper {
  display: none;
}

label .form-input-radio ~ .form-input-radio-icon,
label .form-input-checkbox ~ .form-input-checkbox-icon {
  border: 1px solid /*[[COMMON_LIGHT_GRAY_COLOR*/#ddd/*]]*/;
  background-color: #fff;
  box-shadow: inset 0 0 0 0 /*[[ACTIVE_COLOR*/#4bd396/*]]*/, inset 0 0 0 10px #fff;
  transition: all 0.3s ease-in-out;
  content: " ";
  display: block;
  width: 18px;
  height: 18px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

label .form-input-radio ~ .form-input-radio-icon {
  border-radius: 50%;
}

label .form-input-checkbox ~ .form-input-checkbox-icon {
  border-radius: 3px;
}

.form-input-checkbox-as-switch-container label .form-input-checkbox ~ .form-input-checkbox-icon {
  border-width: 1px;
  width: 34px;
  border-radius: 12px;
}

label .form-input-radio-icon::before,
label .form-input-checkbox-icon::before {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  line-height: 18px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.form-input-checkbox-as-switch-container label .form-input-checkbox-icon::before {
  content: " ";
  margin: -1px;
  width: 20px;
  height: 20px;
  border: 1px solid /*[[COMMON_LIGHT_GRAY_COLOR*/#ddd/*]]*/;
  border-radius: 50%;
  background: white;
  transition: all 0.3s cubic-bezier(.68,-0.55,.27,1.55);
  box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}

label .form-input-radio-icon::before {
  content: "\25CF";
}

label .form-input-checkbox-icon::before {
  content: "\2713";
}

label:hover .form-input-radio-icon::before,
label:hover .form-input-checkbox-icon::before {
  color: #E5EDF5 ;
}

label:hover .form-input-radio ~ .form-input-radio-icon,
label:hover .form-input-checkbox ~ .form-input-checkbox-icon {
  box-shadow: inset 0 0 0 0 /*[[ACTIVE_COLOR*/#4bd396/*]]*/, inset 0 0 0 10px #fff;
}

label .form-input-radio:checked ~ .form-input-radio-icon,
label .form-input-checkbox:checked ~ .form-input-checkbox-icon {
  box-shadow: inset 0 0 0 10px /*[[ACTIVE_COLOR*/#4bd396/*]]*/, inset 0 0 0 10px #fff;
  border-color: /*[[ACTIVE_COLOR*/#4bd396/*]]*/;
}

.form-input-checkbox-as-switch-container label .form-input-checkbox:checked ~ .form-input-checkbox-icon::before {
  margin-left: 15px;
  border-color: /*[[ACTIVE_COLOR*/#4bd396/*]]*/;
}

.form-input-checkbox-as-button-container .form-input-radio-content {
  min-width: 5em;
  height: 34px;
  line-height: 30px;
  text-align: center;
  padding: 0 10px;
  border: 2px solid /*[[COMMON_LIGHT_GRAY_COLOR*/#ddd/*]]*/;
  border-radius: 3px;
  background: /*[[ITEM_BACKGROUND_COLOR*/#f9f9f9/*]]*/;
  display: block;
  cursor: pointer;
}

.form-input-checkbox-as-button-container .form-input-checkbox-option-checked .form-input-radio-content {
  border: 2px solid /*[[ACTIVE_COLOR*/#4bd396/*]]*/;
  background: white;
}

.new-layout input.form-input-radio-input {
  width: calc(100% - 30px);
}

.form-input-radio-as-card .form-input-radio-option-container {
  display: block;
  position: relative;
  padding: 5px;
}

.form-input-radio-as-card .form-input-radio-wrapper {
  display: none;
}

.form-input-radio-card {
  border: 2px solid /*[[COMMON_LIGHT_GRAY_COLOR*/#ddd/*]]*/;
  border-radius: 3px;
  display: block;
  padding: 5px 10px;
  background: /*[[ITEM_BACKGROUND_COLOR*/#f9f9f9/*]]*/;
}

.form-input-radio-option-checked .form-input-radio-card {
  border-color: /*[[ACTIVE_COLOR*/#4bd396/*]]*/;
  background: white;
}


/* 表单左右排列的两项的样式 */

.form-left-right-container {
  display: table;
  width: 100%;
}

.form-left-right-wrapper {
  display: table-row;
}

.form-left-right-left,
.form-left-right-right,
.form-left-right-space {
  display: table-cell;
  vertical-align: top;
}

.form-left-right-space {
  width: 4px;
}

.form-with-button-button button:only-child {
  width: 100%;
}
.form-with-button-button button:not(.old-button) {
  background: transparent;
  border: none;
  color: #4bd396;
}


/* 一行多个的样式 */

.form-multiple-inline-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -6px;
}

.form-multiple-inline-item-replacement,
form-multiple-inline-item {
  display: block;
  flex-grow: 1;
  margin: auto;
  margin-right: 6px;
}

.form-multiple-inline-align-left .form-multiple-inline-item,
.form-multiple-inline-align-left form-multiple-inline-item {
  flex-grow: 0;
  margin: 0;
  justify-content: flex-start;
}

.from-multiple-inline-for-search {
  margin-bottom: 10px;
}


/* 数组输入 */

.form-array-item {
  position: relative;
  padding-right: 40px;
}

.form-array-container-complex .form-array-item {
  position: relative;
  padding-right: 40px;
  border: 1px solid /*[[COMMON_LIGHT_GRAY_COLOR*/#ddd/*]]*/;
  border-radius: 3px;
  padding: 0 40px 0 0;
  margin: 0 0 4px 0;
}

.form-array-item-delete {
  position: absolute;
  left: 100%;
  top: 0;
  padding: 5px;
  margin: 7px 0 7px -30px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}

.form-array-item-delete-disabled {
  cursor: default;
}

.form-array-item-add {
  /*width: calc(100% - 40px);*/
  width: 100%;
  height: 34px;
  border: 1px solid /*[[COMMON_LIGHT_GRAY_COLOR*/#ddd/*]]*/;
  border-radius: 3px;
  margin: 4px 0;
  position: relative;
  cursor: pointer;
}

.form-array-item-add::before,
.form-array-item-add::after {
  position: absolute;
  content: " ";
  background: #777;
  left: 50%;
  top: 50%;
}

.form-array-item-add::before {
  width: 12px;
  height: 2px;
  margin: -1px -6px;
}

.form-array-item-add::after {
  height: 12px;
  width: 2px;
  margin: -6px -1px;
}


/* 表格输入 */

.form-table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.form-table tr {
  border: solid /*[[COMMON_LIGHT_GRAY_COLOR*/#ddd/*]]*/;
  border-width: 1px 0;
}

.form-table thead + tbody {
  border-top: 2px solid /*[[COMMON_LIGHT_GRAY_COLOR*/#ddd/*]]*/;
}

.form-table .form-table-first-row {
  border-top: 0 none;
}

.form-table .form-table-last-row {
  border-bottom: 0 none;
}

.form-table th,
.form-table td {
  padding: 0 10px;
}

.form-table tbody tr:hover {
  background: /*[[ITEM_BACKGROUND_COLOR*/#f9f9f9/*]]*/;
}

.form-table .form-table-action-column {
  min-width: 80px;
}

.form-table .form-table-ceil {
  white-space: normal;
  word-break: normal;
}

.form-table-empty-text {
  text-align: center;
}


/* 搜索框和下拉框 */

.form-search-box-wrapper {
  flex-basis: 274px;
  flex-shrink: 0;
  flex-grow: 0;
}

.form-search-box-container {
    width: 100%;
    height: 40px;
    position: relative;
}

.form-search-box-container input.form-search-box-input {
  padding-left: 30px;
}

.form-search-box-icon {
    position: absolute;
    top: 0;
    left: 7px;
    line-height: 40px;
}

.form-search-box-icon .icon {
  cursor: text;
}

.form-search-box-text {
  display: block;
  padding-right: 34px;
  text-align: right;
}

.form-search-dropdown-container {
  display: block;
  position: relative;
  width: 100%;
}

.form-search-input-container {
  display: block;
  position: relative;
  top: 0;
}

.form-search-input-container input.form-search-input {
  padding-left: 30px;
}

.form-search-input-container .form-search-input-icon {
  position: absolute;
  left: 7px;
  top: 0;
  line-height: 40px;
}

.form-search-input-container .form-search-input-icon .icon {
    cursor: text;
}

.form-search-options-container {
  display: block;
  position: absolute;
  top: 40px;
  width: 100%;
  padding: 4px 0;
  z-index: 1000;
  border: 1px solid /*[[COMMON_LIGHT_GRAY_COLOR*/#ddd/*]]*/;
  border-radius: 3px;
  background: white;
}

.form-search-options-wrapper {
  display: block;
  overflow: auto;
  max-height: 248px;
  width: 100%;
  position: relative;
  margin-top: -1px;
}

.form-search-options-container.form-search-options-show-always {
  position: static;
}

.form-search-options-item-container {
  display: block;
  width: 100%;
  height: 100%;
}

.form-search-options-item {
  display:block;
  min-height: 40px;
  width: 100%;
  overflow: hidden;
  padding: 0 10px 0 10px;  /* 0 10px 0 30px; */
}

.form-search-options-item-container * {
  cursor: default;
}

.form-search-options-item-active {
  background: /*[[ITEM_BACKGROUND_COLOR*/#f9f9f9/*]]*/;
}

.form-search-options-item-text {
  float: left;
}

.form-search-options-item-remark {
  float: right;
  color: /*[[COMMON_LIGHT_GRAY_COLOR*/#ddd/*]]*/;
}

.form-search-options-empty,
.form-search-options-loading {
  display: block;
  text-align: center;
}

.form-select-container {
  display: block;
  width: 100%;
  position: relative;
}

.form-select-wrapper {
  display: block;
}

.form-select-fake-input {
  display: block;
  width: 100%;
  height: 34px;
  vertical-align: middle;
  border: 1px solid /*[[COMMON_LIGHT_GRAY_COLOR*/#ddd/*]]*/;
  border-radius: 3px;
  /*padding: 1px 30px 1px 20px;*/
  padding: 1px 24px 1px 8px;
  position: relative;
  line-height: 30px;
  margin: 3px 0;
  background: white;
  cursor: default;
}

.form-select-fake-input-placeholder,
.form-select-fake-input-value {
  display: block;
  height: 30px;
  line-height: 30px;
}

.form-select-fake-input-placeholder {
  color: /*[[COMMON_LIGHT_GRAY_COLOR*/#ddd/*]]*/;
}

.form-select-fake-input .form-select-down-icon {
  position: absolute;
  right: 7px;
  top: 0;
  line-height: 34px;
}

.form-select-fake-input .form-select-down-icon .icon {
  cursor: default;
}

.form-select-container .form-select-dropdown-with-search .form-search-input-container {
  margin: 4px 4px -44px;
}

.form-select-container .form-select-dropdown-with-search .form-search-options-container {
  padding-top: 48px;
}

.form-select-dropdown {
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  height: auto;
  z-index: 1000;
  background: white;
}

.form-multiple-select-container .form-select-fake-input {
  height: auto;
  cursor: text;
}

.form-select-chosed-item,
.form-select-input-item {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  vertical-align: top;
  padding: 0 5px 0 30px;
  background: #eee;
  margin: 2px 4px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-select-chosed-about-to-delete {
  background: #ddd;
}

.form-select-input-item {
  padding: 0;
}

.form-select-chosed-item-delete {
  position: absolute;
  left: 0;
  top: 0;
  padding: 3px;
  margin: 2px;
  line-height: 16px;
}

.form-multiple-select-container input.form-select-input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 5px;
  margin: 0;
  border: none;
}

.form-select-input-text {
  padding: 0 15px 0 5px;
  white-space: pre;
}


/* 带复制按钮的输入框 */

input-with-copy {
  display: block;
  overflow: hidden;
}

.input-with-button {
  display: block;
  width: 100%;
  padding-right: 40px;
  position: relative;
}

.new-layout .input-with-button-input,
.new-layout .input-with-button-button {
  display: block;
  overflow: hidden;
}

.new-layout .input-with-button-input input,
.new-layout .input-with-button-input textarea {
  border-radius: 3px 0 0 3px;
  float: left;
}

.input-with-button-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
}

.new-layout .input-with-button-button button {
  width: 40px;
  min-width: auto;
  padding: 1px 1px;
  border-radius: 0 3px 3px 0;
  height: calc(100% - 6px);
  margin: 3px 0;
  float: right;
}

.new-layout .input-with-button-button button:active {
  padding: 2px 0 0 2px;
  vertical-align: -1px;
}


/* 代码编辑框 */

.codearea-ace-container {
  min-height: 120px;
  resize: vertical;
  margin: 3px 0;
  border: 1px solid #ddd;
  border-radius: 3px;
}


/* 事件列表 */
.event-list {
  list-style: none;
  padding: 0;
  display: table;
  width: calc(100% + 20px);
  border-collapse: separate;
  border-spacing: 10px 0;
  margin: 0 -10px;
}
.event-list-item {
  display: table-row;
  line-height: 30px;
}
.event-list-content {
  display: table-cell;
}
.event-list-icon {
  width: 20px;
  position: relative;
  background: linear-gradient(to right, transparent 0, transparent 9.5px, #eee 9.5px, #eee 10.5px, transparent 10.5px, transparent 20px);
}
.event-list-icon::before,
.event-list-icon::after {
  content: " ";
  display: block;
  position: absolute;    
}
.event-list-icon::before {
  width: 15px;
  height: 15px;
  top: 7.5px;
  left: 2.5px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.event-list-icon::after {
  width: 6px;
  height: 6px;
  top: 12px;
  left: 7px;
  background-color: transparent;
  border-radius: 50%;
}
.event-list-icon-error::before { border-color: #facfcf; }
.event-list-icon-error::after { background-color: #f85959; }
.event-list-icon-warning::before { border-color: #fe0; }
.event-list-icon-warning::after { background-color: #fd0; }
.event-list-icon-success::before { border-color: #d5ecc9; }
.event-list-icon-success::after { background-color: #77bf4f; }
.event-list-icon-info::before { border-color: #d0e3f5; }
.event-list-icon-info::after { background-color: #5dabf3; }

/* 图 */  
.chart {
  width: 100%;
  display: block;
  position: relative;
}
.chartjs .chart {
  z-index: 0;
}
.chart-title, .chart-legend-container {
  position: relative;
}
.chartjs .chart-title, .chartjs .chart-legend-container {
  z-index: 1;
}
.chart-content {
  width: 100%;
  position: relative;
}
.chart-img {
  position: relative;
}
.chartjs .chart-img {
  z-index: 0;
}
.chart-img-wrap {
  width: 100%;
  position: relative;
  margin: -10px;
}
.chart-img-container {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 100%; height: 100%;
}
.chart-legend-container {
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
}
.chart-content-legend-bottom .chart-img,
.chart-content-legend-bottom .chart-legend-container {
  display: block;
  width: 100%;
}
.chart-content-legend-right .chart-img,
.chart-content-legend-right .chart-legend-container {
  display: table-cell;
  width: 100%;
}
.chart-content-legend-right .chart-legend-container {
  min-width: 150px;
  max-width: 150px
}
.chart-content-legend-right .chart-legend {
  display: table;
  margin: 0 auto;
  text-align: left;
}
.chart-content-legend-bottom .chart-legend-item {
  display: inline-block;
  padding: 0 10px;
}
.chart-content-legend-right .chart-legend-item {
  display: block;
}
.chart-legend-item-sample {
  display: inline-block;
  width: 4ch;
  height: 10px;
  line-height: 10px;
  vertical-align: baseline;
}
.chart-no-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dygraph-chart-container {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
}

/* 成员组选择框 */
.collection-member-count-container {
  text-align: right;
  padding-right: 34px;
  color: #777;
}

.collection-member-search-container {
  flex-basis: 274px;
  flex-grow: 0;
  flex-shrink: 0;
}

.collection-member-adding-panel .form-multiple-inline-container {
  flex-wrap: nowrap;
}

.collection-member-group-type-selector-container {
  flex-basis: 160px;
}

.collection-member-role-selector-container {
  flex-basis: 200px;
}

.collection-member-add-button-container {
  flex-basis: 80px;
}

.collection-member-add-button-container button {
  width: 80px;
}

.collection-member-group-type-selector-container,
.collection-member-role-selector-container,
.collection-member-add-button-container {
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0;
}

.collection-member-group-type-selector-container,
.collection-member-users-selector-container,
.collection-member-role-selector-container {
  margin-right: 6px;
}

.collection-member-table-container {
  position: relative;
}

.collection-member-loading-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(249, 249, 249, 0.6);
}


/* markdown styles*/

.markdown {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #888;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown::after {
  display: table;
  clear: both;
  content: "";
}

.markdown::before {
  display: table;
  content: "";
}

.markdown * {
  box-sizing: border-box;
}

.markdown>*:first-child {
  margin-top: 0 !important;
}

.markdown>*:last-child {
  margin-bottom: 0 !important;
}

.markdown [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.markdown a {
  background-color: transparent;
  color: #4078c0;
  text-decoration: none;
}

.markdown a:active,
.markdown a:hover {
  outline-width: 0;
}

.markdown a:hover,
.markdown a:active {
  text-decoration: underline;
}

.markdown a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown blockquote {
  margin: 0;
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
}

.markdown blockquote> :first-child {
  margin-top: 0;
}

.markdown blockquote> :last-child {
  margin-bottom: 0;
}

.markdown code,
.markdown kbd,
.markdown pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.markdown code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 0.85em;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

.markdown code::before,
.markdown code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.markdown dd {
  margin-left: 0;
}

.markdown dl {
  padding: 0;
}

.markdown dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.markdown dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown em,
.markdown i {
  font-style: italic;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown h1 {
  margin: 0.67em 0;
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eee;
}

.markdown h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eee;
}

.markdown h3 {
  font-size: 1.25em;
}

.markdown h4 {
  font-size: 1em;
}

.markdown h5 {
  font-size: 0.875em;
}

.markdown h6 {
  font-size: 0.85em;
  color: #777;
}

.markdown hr {
  box-sizing: content-box;
  overflow: hidden;
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e7e7e7;
  border: 0;
}

.markdown hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdown hr::before {
  display: table;
  content: "";
}

.markdown img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.markdown input {
  font: inherit;
  margin: 0;
  overflow: visible;
  line-height: inherit;
}

.markdown kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.markdown li+li {
  margin-top: 0.25em;
}

.markdown li>p {
  margin-top: 16px;
}

.markdown ol ol,
.markdown ul ol {
  list-style-type: lower-roman;
}

.markdown p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown p,
.markdown blockquote,
.markdown ul,
.markdown ol,
.markdown dl,
.markdown table,
.markdown pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 14px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  word-wrap: pre;
}

.markdown pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown pre code::before,
.markdown pre code::after {
  content: normal;
}

.markdown strong {
  font-weight: 600;
}

.markdown svg:not(:root) {
  overflow: hidden;
}

.markdown table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown table th {
  font-weight: bold;
}

.markdown table th,
.markdown table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.markdown table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.markdown table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.markdown td,
.markdown th {
  padding: 0;
}

.markdown ul,
.markdown ol {
  padding-left: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown ul {
  list-style: outside;
}

.markdown ul ul ol,
.markdown ul ol ol,
.markdown ol ul ol,
.markdown ol ol ol {
  list-style-type: lower-alpha;
}

.markdown ul ul,
.markdown ul ol,
.markdown ol ol,
.markdown ol ul {
  margin-top: 0;
  margin-bottom: 0;
}


/* style reset */

.form-container-inner label {
  font-weight: initial;
  display: inline;
  max-width: none;
}

/*配置文件组件*/
.config-file-container{
    padding:0 10px;
}
.config-file-id-container{
    flex-basis: 50px;
    flex-grow: 0;
    margin: 0;
}
