.d-modal-header 手动构建
.loading(ng-if="isModalLoading")
  .dot1
  .dot2
ul.modal-body.text-center.modal-buildModal.modal-info(ng-form role="form" name="buildForm")
  li(ng-show="projectInfo.hasCodeInfo")
    span.info-name 选择分支 *
    .select-con.info-txt
      button.btn.btn-white.btn-select
        | {{buildInfo.selectedBranch}}
        i.icon-down
      ul.select-list
        li(ng-if="!branches||branches.length===0")
          a 无分支信息
        li.select-item(ng-if="branches" ng-repeat="branch in branches")
          a(ng-bind="branch" ng-click="toggleBranch(branch)")
  li
    label.info-name(for="versionName") 指定版本名 
    span.info-txt(style="display:inline-block;vertical-align:top")
      input#versionName.version-txt.input-white(placeholder="默认由系统自动生成，可不填" ng-model="buildInfo.imageTag" name="imageTag" ng-pattern="/^[a-z0-9]+([._-][a-z0-9]+)*$/" ng-if="projectInfo.hasCodeInfo")
      input#versionName.version-txt.input-white(placeholder="该项目未关联代码仓库，需手动指定版本名" ng-model="buildInfo.imageTag"  ng-pattern="/^[a-z0-9]+([._-][a-z0-9]+)*$/" name="imageTag" ng-if="!projectInfo.hasCodeInfo" required)
      .txt-error.text-left(ng-show="buildForm.imageTag.$dirty&&buildForm.imageTag.$error.pattern") 非法的版本名
.modal-footer.text-right
  button.btn.btn-sm.btn-white(ng-click="close()") 取消
  button.btn.btn-sm.btn-bright(ng-disabled="isModalLoading&&buildForm.$valid" ng-click="buildForm.$valid&&toBuild()") 确定