body { padding-left: 225px; min-width: 910px; min-height: 100%; width: 100vw; height: 100vh; overflow: hidden; position: relative; transition: padding-left 0.1s linear;  }
body.thin-left-nav { padding-left: 70px; }
icon-nav-switch { position: absolute; top: 15px; left: 20px; transition: left 0.1s linear, width 0s 0s linear; }
body.low-resolution icon-nav-switch { left: 90px; width: 0; overflow: hidden; transition: left 0.1s linear, width 0s linear 0.1s; }
header { height: 70px; padding: 15px 20px; line-height: 40px; position: relative; }
header a, header a:active, header a:hover, header a:focus { text-decoration: none transparent; }
header::after { content: " "; display: table; clear: both; }
header .breadcrumb { background: none; float: left; padding: 0; margin: 0; margin-left: 30px; transition: margin-left 0.1s linear; }
.low-resolution .breadcrumb { margin-left: 0; }
header header-action { float: right; }
header .header-action-container { display: table-row; }
header .header-action-item { display: table-cell; padding: 0 0 0 20px; position: relative; }
header .header-action-user-drop-down { position: absolute; display: block; background: white; width: 120px; right: 0; top: 100%; box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2); border-collapse: collapse; border-radius: 3px; overflow: hidden; z-index: 99; }
header .header-action-user-drop-down-triangle { position: absolute; display: block; width: 40px; height: 20px; right: 0; top: 100%; margin-top: -19px; overflow: hidden; z-index: 99; }
header .header-action-user-drop-down-triangle::before { content: " "; display: block; position: absolute; left: 13px; top: 13px; width: 14px; height: 14px; transform: rotate(45deg); border: 1px solid #ddd;  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2); background: white; }  
header .header-action-user-drop-down-item { border: 1px solid #ddd; border-collapse: collapse; }
header .header-action-user-drop-down-item a { display: block; width: 100%; height: 100%; line-height: 30px; text-align: center; }
right-main { width: 100%; height: 100vh; display: block; overflow-y: auto; position: relative; }
right-main::before, right-main::after { content: " "; display: table; clear: both; }
main { margin: 0 20px; background: white; min-height: calc(100vh - 80px); }
main::before, main::after { content: " "; display: table; clear: both; }

.page-prompt { background: #ffe3a6; padding: 10px 40px 10px 20px; line-height: 30px; position: relative; }
.page-prompt-close { position: absolute; top: 10px; right: 20px; }


.left-nav-container { position: fixed; top: 0; left: 0px; width: 225px; height: 100%; display: block; background: #36404e; color: #98a6ad; font-size: 14px; }
body.thin-left-nav .left-nav-container { width: 70px; }
.left-nav-container a { color: #98a6ad; }
.left-nav-item { position: relative; min-height: 45px; transition: min-height 0.2s linear; }
.thin-left-nav .left-nav-item { min-height: 70px; }
.thin-left-nav .left-nav-item .left-nav-item { min-height: 45px; }
.thin-left-nav  .left-nav-list  .left-nav-item .left-nav-item-link {  padding: 10px 25px 10px 20px; }
.thin-left-nav .left-nav-list > .left-nav-item > .left-nav-item-link { height: 50px; line-height: 50px; padding: 10px 0 10px 70px; }
.logo-container { min-height: 70px; }
.left-nav-item-link { display: block; height: 25px; padding: 10px 25px 10px 70px; line-height: 25px; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; text-decoration: none; margin: 0 0 2px; position: relative; white-space: nowrap; overflow: hidden; }
.left-nav-item-link:hover { background-color: #313a46; text-decoration: none; }
.left-nav-item-link:focus { text-decoration: none; background: #313a46; }
.thin-left-nav .left-nav-item:hover { background-color: #313a46; }
.logo-container .left-nav-item-link { color: white; }
.left-nav-active > .left-nav-item-link { color: white; }
.left-nav-active-item > .left-nav-item-link { color: #7fc1fc; background-color: #313a46; }
.logo-container .left-nav-item-link { height: 50px; line-height: 50px; font-size: 20px; font-weight: bold; }
.left-nav-icon { position: absolute; top: 10px; left: 40px; height: 25px; line-height: 25px; font-size: 16px; transform: translateX(-50%); z-index: 1; transition: all 0.2s linear; }
.thin-left-nav .left-nav-icon { height: 50px; line-height: 50px; font-size: 20px; }
.logo-container .left-nav-icon { top: 25px; }
.left-nav-fold { position: absolute; top: 10px; right: 40px; }
.left-nav-sub-menu { transition: max-height linear 0.2s; overflow: hidden; padding: 1px 0; }
body:not(.thin-left-nav) .left-nav-item:not(.left-nav-unfold) .left-nav-sub-menu, .left-nav-item:not(.left-nav-unfold):not(:hover) .left-nav-sub-menu { max-height: 0 !important; }
body:not(.thin-left-nav) .left-nav-item:not(.left-nav-unfold) .left-nav-sub-menu, .left-nav-item:not(.left-nav-unfold):not(:hover) .left-nav-sub-menu * { visibility: hidden; }
.thin-left-nav .left-nav-sub-menu { max-height: none !important; }
.thin-left-nav .left-nav-fold { display: none; }
.thin-left-nav .left-nav-sub-menu { display: none; }
.thin-left-nav .left-nav-icon { left: 35px; transform: translateX(-50%); }
.left-nav-container { z-index: 100; }
.thin-left-nav .left-nav-list > .left-nav-item:hover > .left-nav-item-link { padding: 10px 25px 10px 90px; width: 110px; background-color: #313a46; }
.thin-left-nav .left-nav-list .left-nav-item:hover .left-nav-sub-menu { display: block; position: absolute; left: 70px; top: 70px; width: 155px; background: #36404e; padding-top: 2px; }
.thin-left-nav .yass-wrapper, .thin-left-nav .yass-content, .thin-left-nav .yass-sensor, .thin-left-nav .left-nav-container { overflow-x: visible !important; overflow-y: visible !important; width: 100%; padding: 0; margin: 0; }
.domeos-logo { width: 29px; height: 19px; display: block; background-image: url("data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAATCAMAAABbR/ZNAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAG/UExURUxpcTNm/zNm/zNm/zNm/zNm/zNm/zNm/zNm/zNm/zNm/zNm/zNm/16R/06B/zNm/12Q/2GU/0N2/2WY/ypd/0N2/zNm/1aJ/y1g/2SX/2WY/zNm/zRn/0+C/yte/zNm/zNm/zNm/zdq/zNm/y9i/2WY/2aZ/2aZ/2GU/2aZ/3Om/1mM/2ib/3Kl/2ea/2WY/2yf/2ea/z9y9Ud52YG0/xJDx2OW/2aZ/xA/u12Q/2yf/2ue/1aJ/1KF/ypd/1uO/ypd/zZp/y1g/16R/wAnimyf/2ea/mea/0x//wAwkGKV9wAphRpMyRNGygAtnVeK/xFBtRdK326h/x1Q3kR3/WOW/2mc/zNm/2aZ/2ea/2ib/2WY/2qd/y5h/zFk/zRn/2ue/26h/y1g/y9i/22g/yte/3Om/3Sn/zJl/2mc/3Cj/2yf/zRo/1KF/ylc/ypd/zZp/1yP/zBj/yxf/2CT/zls/zVo/0t+/1mM/zhr/2SX/2KV/0+C/2eZ/1+S/1CD/0Bz/1SH/0N2/1eK/3Gk/z1w/1aJ/3Kl+yhb/ztu/zBk/2GU/2+i/1iL/yRX/x5QzidZ6k6B/1qN/zBj7yhb+kqc7lMAAABXdFJOUwCEpOs0uEqLk/WyK7cRhp1PqS7Bvwvcvg036fLG3gyU3fPfGnulQEw3IwjrAgEhPOSy4gIpsoPe0Gu8MeHNlAqMW1ByIZIO9Ah+LBwDNs5t9mZA6IwSyiNZpsIAAAFBSURBVCjPbdFTdwQxGIDh1LZt27btJmPP2qxt4wd3Zk/3bGe778U3F89JziQBINT05PjUBIhY+9CY3+J9HR3ub/xn2XW44ZmTCc8Lh2E5mVpMJ0mkRLAsIhDC8Ky0kBUWyCSBAuGYOk/w4qIglpfpMBQWhup/tZRgUYSaAljr1ajBxHEiiyM0oGINlC50wf1MRo5wXN363aTRhM8oWgEp/alONOCkaBTdlku7k+cp/YPvSV5YBKASMi7h+Ahhh46zc9pqE2jXvWQ2P5o/5A0AqiBknDb6wGMXrBINGV668XX3Db6985Z9AEqgGk1Rgl75MjzT0nl91wNmlza/P/dAPvwbVd3Q3NrR1av80Mr61zbI0GhuXuCUbepY3dkFKX8xVXP7a1sAJIQwOcLLJgYxKgzml9UZH5cEYUx0bPiykbkfhuN9KIL1IoMAAAAASUVORK5CYII="); }


