
<div class="mod-project project-detail">
  <div class="project-options">
    <button ng-click="openBuild(config.projectId,!!config.codeInfo)" class="btn btn-md btn-bright">构建</button>
  </div>
  <tabset>
    <tab heading="基本信息" active="tabActive[0].active">
      <div class="code-origin">代码源：<a href="{{config.codeInfo.codeHttpUrl}}" target="_blank" ng-bind="config.codeInfo.codeHttpUrl"></a><span ng-if="!config.codeInfo">该项目没有关联代码仓库</span></div>
      <div markdown="markdown" projectid="projectId" branch="branch" class="markdown"></div>
    </tab>
    <tab heading="项目配置" active="tabActive[1].active">
      <form name="proInfoForm" ng-class="{'need-valid':needValid}" novalidate="novalidate" class="proInfo-form">
        <div class="pull-right dockerfile-options">
          <button ng-if="!edit" ng-click="getDockerfile()" class="btn btn-sm btn-white btn-dockerfile">查看Dockerfile</button>
          <button ng-click="checkEdit()" ng-show="!edit" class="btn btn-sm btn-white">编辑</button>
          <button ng-click="checkEdit()" ng-show="edit" class="btn btn-sm btn-white">取消编辑</button>
        </div>
        <div ng-if="config.codeInfo" class="dockerfile-setting"><span class="s1">使用代码内Dockerfile</span><span ng-show="edit" class="s2">
            <dome-toggle ng-class="{'on':project.useDockerfile}" ng-click="project.useDockerfile=!project.useDockerfile"></dome-toggle></span><span ng-if="edit" class="s3">启用前清确保代码内存在Dockerfile</span><span ng-if="project.useDockerfile&amp;&amp;!edit" class="s4">On</span><span ng-if="!project.useDockerfile&amp;&amp;!edit" class="s4">Off</span></div>
        <ng-include src="'index/tpl/tplProjectSetting/projectSettingInfoTpl1.html'" ng-if="!project.useDockerfile&amp;&amp;!edit"></ng-include>
        <ng-include src="'index/tpl/tplProjectSetting/projectSettingTpl1.html'" ng-if="!project.useDockerfile&amp;&amp;edit"></ng-include>
        <ng-include src="'index/tpl/tplProjectSetting/projectSettingInfoTpl2.html'" ng-if="project.useDockerfile&amp;&amp;!edit"></ng-include>
        <ng-include src="'index/tpl/tplProjectSetting/projectSettingTpl2.html'" ng-if="project.useDockerfile&amp;&amp;edit"></ng-include>
        <div ng-show="edit" class="btn-options">
          <button ng-click="checkEdit()" class="btn btn-md btn-bright">取消</button>
          <button ng-click="needValid=true;proInfoForm.$valid&amp;&amp;submitModify()" ng-disabled="isWaitingForModify" class="btn btn-md btn-bright">保存修改</button>
          <button ng-click="needValid=true;proInfoForm.$valid&amp;&amp;getDockerfile()" class="btn btn-md btn-safe">预览Dockerfile</button>
        </div>
      </form>
    </tab>
    <tab heading="持续集成" active="tabActive[2].active">
      <p ng-if="!config.codeInfo" class="noinfo">该项目未关联代码仓库，无法持续集成</p>
      <div ng-if="config.codeInfo" class="ci-con"><span class="ci-title">自动构建</span><span class="branch-check">
          <input id="buildMaster" type="checkbox" name="buildBranch" ng-model="config.autoBuildInfo.master" class="dome-check"/>
          <label for="buildMaster">master</label></span><span class="branch-check">
          <input id="buildTag" type="checkbox" name="buildBranch" ng-true-value="1" ng-false-value="0" ng-model="config.autoBuildInfo.tag" class="dome-check"/>
          <label for="buildTag">tag</label></span><span class="branch-check">
          <input id="buildOther" type="checkbox" name="buildBranch" ng-model="config.autoBuildInfo.other" class="dome-check"/>
          <label for="buildOther" ng-if="!config.autoBuildInfo.other">指定其他分支</label>
          <label for="buildOther" ng-if="config.autoBuildInfo.other"></label>
          <input ng-model="config.autoBuildInfo.branches" ng-show="config.autoBuildInfo.other" placeholder="请输入分支名称，用逗号分隔 e.g. dev,fix-bug" class="input-white"/></span></div>
      <div ng-show="config.codeInfo" class="btn-options">
        <button ng-click="modifyCI()" ng-disabled="isWaitingForModify" class="btn btn-md btn-bright">保存修改</button>
      </div>
    </tab>
    <tab heading="构建记录" ng-click="getBuildList()" active="tabActive[3].active">
      <div class="chose-log"><span class="chose-title">按状态筛选</span><a ng-class="{'active':statusKey=='Success'}" ng-click="toggleStatus('Success')" class="txt-chose">成功</a><a ng-class="{'active':statusKey=='Fail'}" ng-click="toggleStatus('Fail')" class="txt-chose">失败</a><a ng-class="{'active':statusKey=='Building'}" ng-click="toggleStatus('Building')" class="txt-chose">构建中</a><a ng-class="{'active':statusKey=='Preparing'}" ng-click="toggleStatus('Preparing')" class="txt-chose">准备中</a><i class="sep">|</i><span class="chose-title">按构建模式筛选</span><a ng-class="{'active':autoBuildKey===0}" ng-click="toggleAutoBuild(0)" class="txt-chose">手动构建</a><a ng-class="{'active':autoBuildKey===1}" ng-click="toggleAutoBuild(1)" class="txt-chose">自动构建</a></div>
      <div class="build-log">
        <loglist list="buildList" currentIndex="-1" status-key="statusKey" autobuild-key="autoBuildKey" getbuildlog="getBuildLog(projectId,builId,status)"></loglist>
      </div>
    </tab>
    <tab heading="项目成员" ng-hide="!hasMemberPermisson" active="tabActive[4].active">
      <div ng-include="'index/tpl/tplUserList/tplUserList.html'" class="tab-member"></div>
    </tab>
  </tabset>
</div>
<script type="text/ng-template" id="logInfoModal.html">
  <div class="d-modal-header">查看日志</div>
  <div log-info="log-info" class="modal-log text-left">
    <div ng-bind-html="log" class="log"></div>
  </div>
</script>
<script type="text/ng-template" id="dockerfileModal.html">
  <div class="d-modal-header">查看Dockerfile</div>
  <div class="modal-dockerfile text-left">
    <div ng-bind-html="dockerfileTxt" class="dockerfile-content"></div>
  </div>
  <div class="modal-footer">
    <button ng-click="cancel()" class="btn btn-sm btn-bright">确定</button>
  </div>
</script>
<script type="text/ng-template" id="branchCheckModal.html">
  <div class="d-modal-header">选择分支查看</div>
  <ul role="form" ng-form="ng-form" class="modal-branchcheck modal-info">
    <li><span class="info-name">选择分支:</span>
      <div class="info-txt select-con">
        <button class="btn btn-white btn-select">{{selectedBranch}}<i class="icon-down"></i></button>
        <ul class="select-list">
          <li ng-if="!branches||branches.length===0"><a>无分支信息</a></li>
          <li ng-repeat="branch in branches" class="select-item"><a ng-bind="branch" ng-click="toggleBranch(branch)"></a></li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="modal-footer">
    <button ng-click="cancel()" class="btn btn-sm btn-white">取消</button>
    <button ng-disabled="!selectedBranch" ng-click="selectedBranch&amp;&amp;submitBranch();" class="btn btn-sm btn-bright">确定</button>
  </div>
</script>