@import "compass/css3";
@import "common/css/common.scss";

$context-color:#888;
$context-info-color:#888;
.deploy-collection-manage{
	.deploy-list-btn{
		padding-left: 20px;
	}
	.collection-list{
		padding: 0 20px;
		li{
			float: left;
			width: 100%;
			border-top: $deep-border;
			&:last-child{
				border-bottom: $deep-border;
				margin-bottom: 20px; 
			}
			&:hover{
				background-color: dome-color(background,table-hover-background);
			}
			.collection-item{
				
				// border-radius: $default-radius;
				.collection-header{
					padding: 20px 8px 12px 8px;
					text-align: left;
					// border-bottom: $light-border;
					overflow: visible;
					.collection-name {
						display: inline-block;
						color: dome-color(dome,bright);
						font-size: 16px;
						font-weight: bold;
					}
					.ui-btn-white{
						color: dome-color(dome,bright);
					}
					.dropdown-menu-delete{
						padding:0;
					}
				}
				.build-collection-title{
					display: inline-block;
					padding-left: 10px;
					em{
						margin-right: 10px;
						font-size: 14px;
					}
					.fa{
						padding: 5px !important;
					}
				}
				.content-last {
				    padding-bottom: 20px !important;
				}
				.collection-content{
					// padding: 20px 0 26px 0;
					// height: 90px;
					color:$context-color;
					font-size: 14px;
					text-align: left;
					padding: 8px 8px 0px 8px;
					.collection-info{
						display: inline-block;
						color:$context-info-color;
					}
					.collection-info-description{
						display: inline-block;
						font-size: 14px;
						.textarea-edit{
							min-height: 34px;
   							resize: vertical;
   							min-width: 500px;
						}
					}
					.embed{
						font-size: 14px;
						color:$context-color;
					}
					.col{
						width: 15%;
					}
					.create-time-size{
						width: 22%;
					}
					.no-host{
						display: block;
						margin-top: 9px;
						padding-left: 10%;
						font-size: 14px;
						text-align: left;
					}
				}
				.addhost{
					margin-bottom: 20px;
					padding-top: 12px;
				}
			}
			&:nth-child(3n+1){
				// padding-left: 0;
			}
			&.no-collection{
				height: 208px;
				text-align: center;
				border:1px dashed dome-color(border,deep);
				border-radius: $default-radius;
				span{
					display: inline-block;
					margin-top: 90px;
				}
			}
		}
	}
}