@import "compass/css3";
@import "common/css/common.scss";
.image-manage{
	.ui-btn-imgtool{
		background-color: #4ed5b3;
	}
	.image-option{
		padding:20px 0 20px 0px;
		overflow: hidden;
		.ui-input-search{
			margin-left: 20px;
		}
		.registry-address{
			display: inline-block;
			margin-top: 6px;
			padding-left: 8px;
		}
	}
	.add-image{
		// padding: 4px 0 16px $wider-padding;
		li{
			padding-bottom: 20px;
			.info-name {
				display: inline-block;
				width: 105px;
				padding-top: 2px;
				padding-left: 8px;
				text-align: right;
			}
			.ui-input-info{
				width: 65%;
				margin-left: 20px;
			}
			.ui-btn{
				margin-left: 16px;
			}
		}
	}
	.ui-table-dome{
		table-layout: fixed;
		td,th{
			&:first-child{
				padding-left: $list-padding;
			}
		}
		// tbody tr{
		// 	&:last-child{
		// 		border-bottom:2px solid #fff;
		// 	}
		// }
	}
	.tab-content{
		padding: 0 20px 20px 20px;
	}
	.image-no-project-collection{
		border-top: 2px solid #ddd;
	}
	.btn-copy {
	    display: inline-block;
	    text-align: center;
	    height: 34px;
	    border-top-left-radius: 0px;
	    border-bottom-left-radius: 0px;
	    margin-left: -6px !important;
	    background-color: #188ae2;
	}
	.copy-cmd-logo{
		padding: 5px !important;
	}
	.mod-tips-info-image{
		padding-left: 8px;
	}
}
$context-color:#444;
$context-info-color:#888;
.image-project-collection-list{

	li{
		// float: left;
		width: 100%;
		border-top: $deep-border;
		&:last-child{
			border-bottom: $deep-border;
			// margin-bottom: 20px;
		}
		&:hover{
			background-color: dome-color(background,table-hover-background);
		}
		.image-project-collection-item{

			.image-project-collection-header{
				padding: 20px 8px 12px 8px;
				text-align: left;
				overflow: visible;
				.image-project-collection-name {
					display: inline-block;
					// margin-top: 7px;
					color: dome-color(dome,bright);
					font-size: 16px;
					font-weight: bold;
				}
				.ui-btn-white{
					color: dome-color(dome,bright);
				}
				.dropdown-menu-delete{
					padding:0;
				}
			}
			.build-project-collection-title{
				display: inline-block;
				padding-left: 10px;
				padding-right: 50px;
				// color: dome-color(font,default);
				em{
					margin-right: 10px;
					font-size: 14px;
				}
			}
			.content-last{
				padding-bottom: 20px !important;
			}
			.image-project-collection-content{
				// padding: 20px 0 26px 0;
				// height: 90px;
				font-size: 14px;
				text-align: left;
				padding: 8px 8px 0px 8px;
				.image-project-collection-info{
					display: inline-block;
					font-size: 14px;
					color:$context-info-color;
				}
				.image-project-collection-info-description{
					display: inline-block;
					font-size: 14px;
				}
				.creat-time{
					width: 22%;
				}
				.creator{
					width: 60%;
				}
				.embed{
					font-size: 14px;
					width: 15%;
				}
			}
			&:nth-child(3n+1){
				// padding-left: 0;
			}
		}
		&.no-image-project-collection{
			height: 208px;
			text-align: center;
			border:1px dashed dome-color(border,deep);
			border-radius: $default-radius;
			margin-bottom: 20px;
			span{
				display: inline-block;
				margin-top: 90px;
			}
		}
	}
	.not-project-image-list{
		border-top: 2px solid #ddd;
		.not-project-image-bottom{
			margin-bottom: 20px;
		}
		.not-project-image-name{
			font-size: 15px !important;
		}
	}
}


.card-list {
  display: block;
}

.card-list::before {
  content: " ";
  display: table;
  margin-bottom: -10px;
}

.card-list::after {
  content: " ";
  display: table;
}

.card-item-container {
  display: block;
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  position: relative;
  display: table;
  line-height: 30px;
  margin: 10px 0 0 0;
}

.card-item-container > * {
  display: table-cell;
  vertical-align: middle;
}

.card-item-container.image-list-item {
  height: 90px;
}

.card-right-info-item  {
  width: 160px;
  padding: 0 20px;
  position: relative;
}

.card-right-info-item::before {
  content: " ";
  width: 0;
  height: 40px;
  display: table-cell;
  position: absolute;
  left: 0;
  top: 15px;
  vertical-align: middle;
  border-left: 1px solid #ddd;
}

.image-list-item-icon-container {
  width: 90px;
  position: relative;
}

.image-list-item .image-list-item-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 15px;
  background: white;
}


.image-list-item-info-download-count .icon {
  cursor: default;
}

