.mod-project.project-create2(role="form" ng-form name="projectForm" ng-class="{'need-valid':valid.needValid}")
    button.ui-btn.ui-btn-bright.ui-btn-lg.ui-btn-copy(ng-click="toCopy()") 复制已有项目
    .project-new
        ng-include(src="'index/tpl/tplProjectSetting/projectSettingTpl.html'" ng-if="!config.userDefineDockerfile")
        ng-include(src="'index/tpl/tplProjectSetting/projectSettingTpl.html'" ng-if="config.userDefineDockerfile")
    .com-bottom-option
        span.com-bottom-option-con
            button.ui-btn.ui-btn-bright.ui-btn-md.ui-btn-last(ng-click="toLastPage();") 上一步
            button.ui-btn.ui-btn-bright.ui-btn-md(ng-click="valid.needValid=true;validCreatedFileStoragePath();projectForm.$valid&&valid.createdFileStoragePath&&createProject()") 完成创建
            button.ui-btn.ui-btn-safe.ui-btn-md(ng-click="valid.needValid=true;validCreatedFileStoragePath();projectForm.$valid&&valid.createdFileStoragePath&&getDockerfile()") 预览Dockerfile
            span.txt-error(ng-if="valid.needValid&&(!valid.createdFileStoragePath||projectForm.$invalid)") 存在不合法数据，请修改后提交！
    script(type="text/ng-template" id="projectListModal.html")
        .d-modal-header 选择复制的项目
        div.modal-projects
            loading(ng-if="loading")
            .filter-con
                span.tool-align-input(ng-cloak) 共{{projectListFiltered.length}}个项目
                input.ui-input.ui-input-fill.ui-input-search(ng-model="key.searchKey" placeholder="输入项目名称搜索")
            table.ui-table-dome
                thead
                    tr
                        th 项目名称
                        th 项目构建类型
                        th 构建时间
                        th 构建状态
                        th 代码源
                        th 复制项目
                tbody
                    tr
                        td(colspan="6" ng-if="!projectList||projectListFiltered.length===0").text-center 暂无相关项目
                    tr(ng-repeat="project in projectListFiltered=(projectList|filter:{name:key.searchKey})")
                        td
                            a(ng-bind="project.name")
                        td(ng-if="project.userDefineDockerfile") 代码内Dockerfile
                        td(ng-if="!project.userDefineDockerfile" ng-switch="project.projectType")
                            span(ng-switch-when="java") Java专属配置
                            span(ng-switch-default) 通用配置
                        td(ng-bind="vmDome.parseDate(project.buildTime)||'无'")
                        td( ng-switch="project.buildStatus")
                            span.txt-success(ng-switch-when="Success") 成功
                            span.txt-warning(ng-switch-when="Fail") 失败
                            span.txt-normal(ng-switch-when="Building") 构建中
                            span.txt-normal(ng-switch-when="Preparing") 准备中
                            span.txt-normal(ng-switch-when="Send") 准备中
                            span(ng-switch-default) 未启动
                        td(ng-cloak ng-switch="project.codeManager")
                            span(ng-if="!project.nameWithNamespace") 无
                            a(href="{{project.codeHttpUrl}}" target="_blank" ng-show="project.nameWithNamespace")
                                i.icon-gitlab(ng-switch-when="gitlab")
                                i.icon-github(ng-switch-when="github")
                                | {{project.nameWithNamespace}}
                        td
                            button.ui-btn.ui-btn-sm.ui-btn-primary(ng-click="copy(project.id)") 复制
