@import "compass/css3";
@import "common/css/common.scss";
.project-create2{
	padding:0 $page-padding 100px $page-padding;
	.ui-btn-copy{
		margin: 20px 0 8px $page-padding;
	}
	.project-new{
		padding: 14px 0 0 $page-padding;
	}
}
.modal-projects{
	max-height: 540px;
	overflow: auto;
	.filter-con{
		padding: 16px $page-padding 16px $page-padding;
		overflow: hidden;
		.tool-align-input{
			display: inline-block;
		}
		.ui-input-search{
			float: right;
		}
	}
	td,th{
		&:first-child{
			padding-left: $page-padding;
		}
		&:last-child{
			padding-right: $page-padding;
		}
	}

}
