form.mod-project.project-create2(role="form" name="proInfoForm" ng-class="{'need-valid':needValid}" novalidate)
	button.btn.btn-bright.btn-lg.btn-copy(ng-click="toCopy()" ng-if="!useDockerFile") 复制已有项目
	.project-new
		ng-include(src="'index/tpl/tplProjectSetting/projectSettingTpl1.html'" ng-if="!useDockerFile")
		ng-include(src="'index/tpl/tplProjectSetting/projectSettingTpl2.html'" ng-if="useDockerFile")
	.bottom-option
		button.btn.btn-bright.btn-md.btn-last(ng-click="toLastPage();") 上一步
		button.btn.btn-bright.btn-md(ng-click="needValid=true;proInfoForm.$valid&&createProject()") 完成创建
	script(type="text/ng-template" id="projectListModal.html")
		.d-modal-header 选择复制的项目
		div.projectlist-con
			table.table-dome
				thead
					tr
						th 项目名称
						th 构建时间
						th 构建状态
						th 代码源
						th 复制项目
				tbody
					tr
						td(colspan="6" ng-if="!filteredProjectList||filteredProjectList.length===0").text-center 暂无相关项目
					tr(ng-repeat="project in filteredProjectList =  (projectList|filter:{projectName:proKeywards})")
						td
							a(ng-bind="project.projectName")
						td(ng-bind="parseDate(project.buildTime)")
						td( ng-switch="project.buildStatus")
							span.txt-success(ng-switch-when="Success") 成功
							span.txt-warning(ng-switch-when="Fail") 失败
							span.txt-normal(ng-switch-when="Building") 构建中
							span.txt-normal(ng-switch-when="Preparing") 准备中
							span(ng-switch-default) 未启动
						td(ng-cloak ng-switch="project.codeManager")
							span(ng-if="!project.codeSource") 无
							a(href="{{project.codeHttpUrl}}" target="_blank" ng-show="project.codeSource")
								i.icon-gitlab(ng-switch-when="gitlab")
								i.icon-github(ng-switch-when="github")
								| {{project.codeSource}}
						td
							button.btn.btn-sm.btn-primary(ng-click="copy(project.id)") 复制
	
	
